<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patternExclusion">
            <h2><span jhiTranslate="appLabApp.patternExclusion.detail.title">Pattern Exclusion</span> {{patternExclusion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.patternExclusion.name">Name</span></dt>
                <dd>
                    <span>{{patternExclusion.name}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.patternExclusion.description">Description</span></dt>
                <dd>
                    <span>{{patternExclusion.description}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.patternExclusion.exclusionDate">Exclusion Date</span></dt>
                <dd>
                    <span>{{patternExclusion.exclusionDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pattern-exclusion', patternExclusion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
