<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="configTableCorrection">
            <h2><span jhiTranslate="appLabApp.configTableCorrection.detail.title">Config Table Correction</span> {{configTableCorrection.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.configTableCorrection.value1">Value 1</span></dt>
                <dd>
                    <span>{{configTableCorrection.value1}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.configTableCorrection.value2">Value 2</span></dt>
                <dd>
                    <span>{{configTableCorrection.value2}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.configTableCorrection.value3">Value 3</span></dt>
                <dd>
                    <span>{{configTableCorrection.value3}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.configTableCorrection.value4">Value 4</span></dt>
                <dd>
                    <span>{{configTableCorrection.value4}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.configTableCorrection.value5">Value 5</span></dt>
                <dd>
                    <span>{{configTableCorrection.value5}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.configTableCorrection.value6">Value 6</span></dt>
                <dd>
                    <span>{{configTableCorrection.value6}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.configTableCorrection.diameterGroup">Diameter Group</span></dt>
                <dd>
                    <div *ngIf="configTableCorrection.diameterGroupId">
                        <a [routerLink]="['/diameter-group', configTableCorrection.diameterGroupId, 'view']">{{configTableCorrection.diameterGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/config-table-correction', configTableCorrection.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
