<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.configTableCorrection.home.title">Config Table Corrections</span>
        <button *jhiHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-config-table-correction" [routerLink]="['/config-table-correction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.configTableCorrection.home.createLabel">
            Create new Config Table Correction
            </span>
        </button>
    </h2>
    <p><span jhiTranslate="appLabApp.configTableCorrection.home.subtitle">subtitle</span></p>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="configTableCorrections">
        <table class="table table-striped">
            <thead>
            <tr align="center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="diameterGroupId"><span jhiTranslate="appLabApp.configTableCorrection.diameterGroup">Diameter Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value1"><span jhiTranslate="appLabApp.configTableCorrection.value1">Value 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value2"><span jhiTranslate="appLabApp.configTableCorrection.value2">Value 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value3"><span jhiTranslate="appLabApp.configTableCorrection.value3">Value 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value4"><span jhiTranslate="appLabApp.configTableCorrection.value4">Value 4</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value5"><span jhiTranslate="appLabApp.configTableCorrection.value5">Value 5</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value6"><span jhiTranslate="appLabApp.configTableCorrection.value6">Value 6</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="diameterGroupId"><span jhiTranslate="appLabApp.configTableCorrection.diameterGroup">Diameter Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr td align="center"  *ngFor="let configTableCorrection of configTableCorrections ;trackBy: trackId">
                <td>
                    <div *ngIf="configTableCorrection.diameterGroupId">
                        <a [routerLink]="['../diameter-group', configTableCorrection.diameterGroupId , 'view' ]" >{{configTableCorrection.diameterGroupCode}}</a>
                    </div>
                </td>
                <!--<td><a [routerLink]="['/config-table-correction', configTableCorrection.id, 'view' ]">{{configTableCorrection.id}}</a></td>-->
                <td >{{configTableCorrection.value1}}</td>
                <td >{{configTableCorrection.value2}}</td>
                <td >{{configTableCorrection.value3}}</td>
                <td >{{configTableCorrection.value4}}</td>
                <td >{{configTableCorrection.value5}}</td>
                <td >{{configTableCorrection.value6}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/config-table-correction', configTableCorrection.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'config-table-correction/'+ configTableCorrection.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
