<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-config-table-correction-heading" jhiTranslate="appLabApp.configTableCorrection.home.createOrEditLabel">Create or edit a Config Table Correction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.configTableCorrection.diameterGroup" for="field_diameterGroup">Diameter Group</label>
                    <select class="form-control" id="field_diameterGroup" name="diameterGroup" [(ngModel)]="configTableCorrection.diameterGroupId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="diameterGroupOption.id" *ngFor="let diameterGroupOption of diametergroups; trackBy: trackDiameterGroupById">{{diameterGroupOption.code}}</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.configTableCorrection.value1" for="field_value1">Value 1</label>
                        <input type="number" class="form-control" name="value1" id="field_value1"
                            [(ngModel)]="configTableCorrection.value1" />
                    </div>
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.configTableCorrection.value2" for="field_value2">Value 2</label>
                        <input type="number" class="form-control" name="value2" id="field_value2"
                            [(ngModel)]="configTableCorrection.value2" />
                    </div>
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.configTableCorrection.value3" for="field_value3">Value 3</label>
                        <input type="number" class="form-control" name="value3" id="field_value3"
                            [(ngModel)]="configTableCorrection.value3" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.configTableCorrection.value4" for="field_value4">Value 4</label>
                        <input type="number" class="form-control" name="value4" id="field_value4"
                            [(ngModel)]="configTableCorrection.value4" />
                    </div>
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.configTableCorrection.value5" for="field_value5">Value 5</label>
                        <input type="number" class="form-control" name="value5" id="field_value5"
                            [(ngModel)]="configTableCorrection.value5" />
                    </div>
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.configTableCorrection.value6" for="field_value6">Value 6</label>
                        <input type="number" class="form-control" name="value6" id="field_value6"
                            [(ngModel)]="configTableCorrection.value6" />
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
