<div *ngIf="modelRunDef?.status == 'FINISHED'">
    <div class="row">
        <div class="col-md-3" *ngIf="showSidebar">
            <div class="sticky-top">
                <nav class="navbar bg-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" (click)="currentChart = 1">
                                <span jhiTranslate="appLabApp.optimization.op1.graph1">graph1</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="currentChart = 2">
                                <span jhiTranslate="appLabApp.optimization.op1.graph2">graph2</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="currentChart = 3">
                                <span jhiTranslate="appLabApp.optimization.op1.graph3">graph3</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <p></p>
            <div style="text-align: center">
                <a *ngIf="modelRunDef.dataSetResult" href="/api/download-file?param={{modelRunDef.id}}"
                   role="button" placement="top" ngbTooltip="{{modelRunDef.dataSetResult}}"
                   class="btn btn-primary" style="width: 100%">
                    <fa-icon [icon]="'download'"></fa-icon>
                    <span class="d-none d-md-inline"><span jhiTranslate="appLabApp.optimization.op1.action.download">download</span></span>
                </a>
            </div>
        </div>

        <div class="col-md-{{chartColumnSize}}">
            <ng-container *ngIf="currentChart == 1">
                <h3><span jhiTranslate="appLabApp.optimization.op1.graph1">graph1</span></h3>
                <br>
                <chart type="line" [data]="charts.chart1.data"
                       [options]="charts.chart1.options" *ngIf="charts?.chart1?.data"
                       class="col-sm-12 mt-3"></chart>
                <p class="mt-3" *ngIf="!charts?.chart1?.data"><span jhiTranslate="appLabApp.optimization.msg.loading">loading</span></p>
            </ng-container>
            <ng-container *ngIf="currentChart == 2">
                <h3><span jhiTranslate="appLabApp.optimization.op1.graph2">graph2</span></h3>
                <br>
                <chart type="line" [data]="charts.chart2.data"
                       [options]="charts.chart2.options" *ngIf="charts?.chart2?.data"
                       class="col-sm-12 mt-3"></chart>
                <p class="mt-3" *ngIf="!charts?.chart2?.data"><span jhiTranslate="appLabApp.optimization.msg.loading">loading</span></p>
            </ng-container>
            <ng-container *ngIf="currentChart == 3">
                <h3><span jhiTranslate="appLabApp.optimization.op1.graph3">graph3</span></h3>
                <br>
                <chart type="line" [data]="charts.chart3.data"
                       [options]="charts.chart3.options" *ngIf="charts?.chart3?.data"
                       class="col-sm-12 mt-3"></chart>
                <p class="mt-3" *ngIf="!charts?.chart3?.data"><span jhiTranslate="appLabApp.optimization.msg.loading">loading</span></p>
            </ng-container>
        </div>
    </div>
</div>

<ng-container *ngIf="modelRunDef?.status != 'FINISHED'">
    <p class="ml-3" *ngIf="modelRunDef?.progress > 0 && modelRunDef?.progress < 100 && modelRunDef?.status != 'ERROR'">
        <span jhiTranslate="appLabApp.optimization.msg.waitProcessFinish">waitProcessFinish</span>
    </p>
    <p class="ml-3" *ngIf="modelRunDef?.progress == 0">
        <span jhiTranslate="appLabApp.optimization.msg.runProcessToResult">runProcessToResult</span>
    </p>
    <p class="ml-3" *ngIf="modelRunDef?.status == 'ERROR'">
        <span jhiTranslate="appLabApp.optimization.msg.processError">processError</span>
        <br><br>
        <span *ngIf="modelRunDef?.comments">
            <b><span jhiTranslate="appLabApp.optimization.msg.error">Error</span>:</b>
            <br>
            <span jhiTranslate="appLabApp.optimization.msg.{{json.parse(modelRunDef?.comments).code | lowercase}}"></span>
            <br><br>

            <b><span jhiTranslate="appLabApp.optimization.msg.type">type</span>:</b>
            <br>
            <span>{{json.parse(modelRunDef?.comments).type}}</span>
            <br><br>

            <ng-container *ngIf="json.parse(modelRunDef?.comments).message">
                <b><span jhiTranslate="appLabApp.optimization.msg.message">message</span>:</b>
                <br>
                <span>{{json.parse(modelRunDef?.comments).message}}</span>
            </ng-container>
        </span>
    </p>
</ng-container>
