<ng-container *ngIf="modelRunDef?.status == 'FINISHED'">
    <div class="row">
        <div class="col-md-3" *ngIf="showSidebar">
            <div class="sticky-top">
                <nav class="navbar bg-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" (click)="currentChart = 1"><span
                                jhiTranslate="appLabApp.optimization.op2.graph1">graph1</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="currentChart = 2"><span
                                jhiTranslate="appLabApp.optimization.op2.production">production</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="currentChart = 3"><span
                                jhiTranslate="appLabApp.optimization.op2.graph2">graph2</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <p></p>
            <div style="text-align: center">
                <a *ngIf="modelRunDef.dataSetResult" href="/api/download-file?param={{modelRunDef.id}}"
                   role="button" placement="top" ngbTooltip="{{modelRunDef.dataSetResult}}"
                   class="btn btn-primary w-100">
                    <fa-icon [icon]="'download'"></fa-icon>
                    <span class="d-none d-md-inline"><span jhiTranslate="appLabApp.optimization.op1.action.download">download</span></span>
                </a>
            </div>
            <div>
                <!-- TODO: guardar data set si se selecciona aplicar -->
            </div>
        </div>

        <div class="col-md-{{chartColumnSize}}">
            <ng-container *ngIf="currentChart == 1">
                <h3 jhiTranslate="appLabApp.optimization.op2.graph1"></h3>

                <ng-container *ngIf="charts?.resume">
                    <div class="row mb-5">
                        <chart type="pie" [data]="charts?.resume?.chart1?.data"
                               [options]="charts?.resume?.chart1?.options" *ngIf="charts?.resume?.chart1?.data"
                               class="col-sm-4 mt-4"></chart>

                        <chart type="pie" [data]="charts?.resume?.chart2?.data"
                               [options]="charts?.resume?.chart2?.options" *ngIf="charts?.resume?.chart2?.data"
                               class="col-sm-4 mt-4"></chart>
                    </div>

                    <table class="table table-striped table-sm">
                        <tbody>
                        <tr *ngFor="let row of charts?.resume?.info; let rowIndex = index">
                            <td>
                                    <span *ngFor="let col of row; let colIndex = index"
                                          [ngClass]="{'font-weight-bold': colIndex == 0 || rowIndex == 0}">
                                        {{formatResume(col)}}
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </ng-container>
                <p class="mt-3" *ngIf="!charts?.resume"><span
                    jhiTranslate="appLabApp.optimization.msg.loading">loading</span></p>
            </ng-container>

            <ng-container *ngIf="currentChart == 2">
                <h3 jhiTranslate="appLabApp.optimization.op2.production"></h3>

                <div class="ui toggle checkbox mt-3 mb-2">
                    <input type="checkbox" name="public" [(ngModel)]="manufactoringOrder.chartView">
                    <label jhiTranslate="appLabApp.optimization.op2.view"></label>
                </div>

                <div *ngIf="manufactoringOrder && manufactoringOrder?.chartView">
                    <chart type="horizontalBar" [data]="manufactoringOrder.gantt.data"
                           [options]="manufactoringOrder.gantt.options" class="col mt-3"
                           [ngStyle]="{'height': manufactoringOrder?.production?.length * 2 * 25 + 'px'}"></chart>
                </div>

                <sui-accordion class="styled fluid mt-3" *ngIf="manufactoringOrder && !manufactoringOrder?.chartView">
                    <sui-accordion-panel [isOpen]="false" *ngFor="let pattern of manufactoringOrder?.production">
                        <div title>
                            <i class="dropdown icon"></i>
                            <span jhiTranslate="appLabApp.optimization.op2.pattern"
                                  translateValues="{name: '{{ pattern?.name | uppercase }}'}"></span>
                        </div>
                        <div content>
                            <table class="table table-sm table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th><span jhiTranslate="appLabApp.optimization.op2.diameterGroup"></span></th>
                                    <th><span jhiTranslate="appLabApp.optimization.op2.executionTime"></span></th>
                                    <th><span jhiTranslate="appLabApp.optimization.op2.totalResourceUsed"></span></th>
                                    <th><span jhiTranslate="appLabApp.optimization.op2.performance"></span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{pattern?.diameterGroup}}</td>
                                    <td>
                                        {{moment.duration(pattern?.patternProcessTime, 's').minutes()}}
                                        <span jhiTranslate="appLabApp.optimization.op2.minutes"></span>
                                    </td>
                                    <td>{{getTotalResourceUsed(pattern?.resourceQty)}}</td>
                                    <td>{{pattern.performance}}%</td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="row mt-4">
                                <div class="col">
                                    <p><b><span jhiTranslate="appLabApp.optimization.op2.resourceUsed"></span></b></p>
                                    <table class="table table-sm table-bordered mt-3">
                                        <thead class="thead-light">
                                        <tr>
                                            <th><span jhiTranslate="appLabApp.optimization.op2.large"></span></th>
                                            <th><span jhiTranslate="appLabApp.optimization.op2.qty"></span></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let resource of pattern?.resourceQty">
                                            <td>{{resource.key}}</td>
                                            <td>{{resource.value}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col">

                                    <p><b><span jhiTranslate="appLabApp.optimization.op2.patternTables"></span></b></p>
                                    <table class="table table-sm table-bordered mt-3">
                                        <thead class="thead-light">
                                        <tr>
                                            <th><span jhiTranslate="appLabApp.optimization.op2.ticknessWidth"></span>
                                            </th>
                                            <th><span jhiTranslate="appLabApp.optimization.op2.qty"></span></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let table of pattern?.tables">
                                            <td>{{table.key}}</td>
                                            <td>{{table.value}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </sui-accordion-panel>
                </sui-accordion>

                <p class="mt-3" *ngIf="!manufactoringOrder"><span jhiTranslate="appLabApp.optimization.msg.loading">loading</span>
                </p>
            </ng-container>

            <ng-container *ngIf="currentChart == 3">
                <h3 jhiTranslate="appLabApp.optimization.op2.graph2"></h3>
                <div class="row" *ngIf="charts?.chart1?.data">
                    <chart type="bar" [data]="charts.chart1.data"
                           [options]="charts.chart1.options"
                           class="col-sm-8 mt-3"></chart>
                    <div class="col-sm-4">
                        <p class="mb-3 mt-3"><b><span jhiTranslate="appLabApp.optimization.op2.filters"></span></b></p>
                        <div class="d-flex mb-3">
                            <p class="mb-0 mr-4 w-50">
                                <span jhiTranslate="appLabApp.optimization.op2.byProduction"></span>
                            </p>
                            <select class="w-50" [(ngModel)]="filters.production" (change)="setChart1()">
                                <option value="null">
                                    <span jhiTranslate="appLabApp.optimization.op2.all"></span>
                                </option>
                                <option value="negative">
                                    <span jhiTranslate="appLabApp.optimization.op2.unsatisfied"></span>
                                </option>
                                <option value="satisfied">
                                    <span jhiTranslate="appLabApp.optimization.op2.satisfied"></span>
                                </option>
                                <option value="positive">
                                    <span jhiTranslate="appLabApp.optimization.op2.satisfiedWaste"></span>
                                </option>
                            </select>
                        </div>
                        <div class="d-flex mb-3">
                            <p class="mb-0 mr-4 w-50">
                                <span jhiTranslate="appLabApp.optimization.op2.byLarge"></span>
                            </p>
                            <select class="w-50" [(ngModel)]="filters.large" (change)="setChart1()">
                                <option value="null"><span jhiTranslate="appLabApp.optimization.op2.all"></span>
                                </option>
                                <option *ngFor="let large of getLargeOptions()" [value]="large">{{large}}</option>
                            </select>
                        </div>
                        <div class="d-flex mb-3">
                            <p class="mb-0 mr-4 w-50">
                                <span jhiTranslate="appLabApp.optimization.op2.byType"></span>
                            </p>
                            <select class="w-50" [(ngModel)]="filters.type" (change)="setChart1()">
                                <option value="null"><span jhiTranslate="appLabApp.optimization.op2.all"></span>
                                </option>
                                <option *ngFor="let type of getTypeOptions()" [value]="type">{{type}}</option>

                            </select>
                        </div>
                        <button class="btn btn-primary" (click)="resetFilters(true)">
                            <span jhiTranslate="appLabApp.optimization.op2.reset"></span>
                        </button>
                    </div>
                </div>
                <p class="mt-3" *ngIf="!charts?.chart1?.data"><span jhiTranslate="appLabApp.optimization.msg.loading">loading</span>
                </p>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="modelRunDef?.status != 'FINISHED'">
    <p class="ml-3" *ngIf="modelRunDef?.progress > 0 && modelRunDef?.progress < 100 && modelRunDef?.status != 'ERROR'">
        <span jhiTranslate="appLabApp.optimization.msg.waitProcessFinish">waitProcessFinish</span>
    </p>
    <p class="ml-3" *ngIf="modelRunDef?.progress == 0">
        <span jhiTranslate="appLabApp.optimization.msg.runProcessToResult">runProcessToResult</span>
    </p>
    <p class="ml-3" *ngIf="modelRunDef?.status == 'ERROR'">
        <span jhiTranslate="appLabApp.optimization.msg.processError">processError</span>
        <br><br>
        <span *ngIf="modelRunDef?.comments">
            <b><span jhiTranslate="appLabApp.optimization.msg.error">Error</span>:</b>
            <br>
            <span jhiTranslate="appLabApp.optimization.msg.{{json.parse(modelRunDef?.comments).code | lowercase}}"></span>
            <br><br>

            <b><span jhiTranslate="appLabApp.optimization.msg.type">type</span>:</b>
            <br>
            <span>{{json.parse(modelRunDef?.comments).type}}</span>
            <br><br>

            <ng-container *ngIf="json.parse(modelRunDef?.comments).message">
                <b><span jhiTranslate="appLabApp.optimization.msg.message">message</span>:</b>
                <br>
                <span>{{json.parse(modelRunDef?.comments).message}}</span>
            </ng-container>
        </span>
    </p>
</ng-container>
