<div class="row">
    <div class="col-md-2"></div>
    <h3 *ngIf="modelRunDefs?.length == 1" class="col-md-9">{{modelRunDefs[0].name}} - {{modelRunDefs[0].id}}</h3>

    <h3 *ngIf="modelRunDefs?.length == 2" class="col-md-5">{{modelRunDefs[0].name}} - {{modelRunDefs[0].id}}</h3>
    <h3 *ngIf="modelRunDefs?.length == 2" class="col-md-5">{{modelRunDefs[1].name}} - {{modelRunDefs[1].id}}</h3>

    <h3 *ngIf="modelRunDefs?.length == 3" class="col-md-3">{{modelRunDefs[0].name}} - {{modelRunDefs[0].id}}</h3>
    <h3 *ngIf="modelRunDefs?.length == 3" class="col-md-3">{{modelRunDefs[1].name}} - {{modelRunDefs[1].id}}</h3>
    <h3 *ngIf="modelRunDefs?.length == 3" class="col-md-3">{{modelRunDefs[2].name}} - {{modelRunDefs[2].id}}</h3>
    <button type="submit" (click)="previousState()" class="btn btn-info back-btn">
        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
<hr/>

<div class="row">
    <div class="col-md-2" *ngIf="chartTitles">
        <div class="sticky-top">
            <nav class="navbar bg-light">
                <ul class="navbar-nav" *ngIf="modelRunDefs[0]?.name == 'Pattern Generator'">
                    <li class="nav-item">
                        <a class="nav-link" (click)="currentChart = 1">
                            <span jhiTranslate="appLabApp.optimization.op1.graph1">graph1</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="currentChart = 2">
                            <span jhiTranslate="appLabApp.optimization.op1.graph2">graph2</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="currentChart = 3">
                            <span jhiTranslate="appLabApp.optimization.op1.graph3">graph3</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav" *ngIf="modelRunDefs[0]?.name == 'Planner'">
                    <li class="nav-item">
                        <a class="nav-link" (click)="currentChart = 1"><span jhiTranslate="appLabApp.optimization.op2.graph1">graph1</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="currentChart = 2"><span jhiTranslate="appLabApp.optimization.op2.production">production</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="currentChart = 3"><span jhiTranslate="appLabApp.optimization.op2.graph2">graph2</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div  *ngIf="modelRunDefs?.length == 1 && modelRunDefs[0]?.name == 'Pattern Generator'" class="col-md-9">
        <jhi-optimization-point-1-charts  [modelRunDef]="modelRunDefs[0]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-1-charts>
    </div>

    <div *ngIf="modelRunDefs?.length == 1 && modelRunDefs[0]?.name == 'Planner'" class="col-md-9">
        <jhi-optimization-point-2-charts  [modelRunDef]="modelRunDefs[0]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-2-charts>
    </div>




    <div *ngIf="modelRunDefs?.length == 2 && modelRunDefs[0]?.name == 'Pattern Generator'" class="col-md-5">
        <jhi-optimization-point-1-charts  [modelRunDef]="modelRunDefs[0]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-1-charts>
    </div>
    <div  *ngIf="modelRunDefs?.length == 2 && modelRunDefs[0]?.name == 'Pattern Generator'" class="col-md-5">
        <jhi-optimization-point-1-charts  [modelRunDef]="modelRunDefs[1]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-1-charts>
    </div>

    <div *ngIf="modelRunDefs?.length == 2 && modelRunDefs[0]?.name == 'Planner'" class="col-md-5">
        <jhi-optimization-point-2-charts  [modelRunDef]="modelRunDefs[0]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-2-charts>
    </div>
    <div  *ngIf="modelRunDefs?.length == 2 && modelRunDefs[0]?.name == 'Planner'" class="col-md-5">
        <jhi-optimization-point-2-charts  [modelRunDef]="modelRunDefs[1]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-2-charts>
    </div>



    <div *ngIf="modelRunDefs?.length == 3 && modelRunDefs[0]?.name == 'Pattern Generator'" class="col-md-3">
        <jhi-optimization-point-1-charts  [modelRunDef]="modelRunDefs[0]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-1-charts>
    </div>
    <div  *ngIf="modelRunDefs?.length == 3 && modelRunDefs[0]?.name == 'Pattern Generator'" class="col-md-3">
        <jhi-optimization-point-1-charts  [modelRunDef]="modelRunDefs[1]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-1-charts>
    </div>
    <div  *ngIf="modelRunDefs?.length == 3 && modelRunDefs[0]?.name == 'Pattern Generator'" class="col-md-3">
        <jhi-optimization-point-1-charts  [modelRunDef]="modelRunDefs[2]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-1-charts>
    </div>

    <div *ngIf="modelRunDefs?.length == 3 && modelRunDefs[0]?.name == 'Planner'" class="col-md-3">
        <jhi-optimization-point-2-charts  [modelRunDef]="modelRunDefs[0]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-2-charts>
    </div>
    <div  *ngIf="modelRunDefs?.length == 3 && modelRunDefs[0]?.name == 'Planner'" class="col-md-3">
        <jhi-optimization-point-2-charts  [modelRunDef]="modelRunDefs[1]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-2-charts>
    </div>
    <div  *ngIf="modelRunDefs?.length == 3 && modelRunDefs[0]?.name == 'Planner'" class="col-md-3">
        <jhi-optimization-point-2-charts  [modelRunDef]="modelRunDefs[2]" [change]="true" [showSidebar]="false"
                                          [chartColumnSize]="12" [currentChart]="currentChart"></jhi-optimization-point-2-charts>
    </div>

</div>
