<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.modelRunDef.home.title">Model Run Defs</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

    <div class="form-group row">
        <div class="col-md-3">
            <label><b><span jhiTranslate="appLabApp.modelRunDef.name">Name</span></b></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </span>
                </div>
                <select [(ngModel)]="searchNameString" class="form-control" (change)="reset()">
                    <option value="Planner">Planner</option>
                    <option value="Pattern Generator">Pattern Generator</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <label><b><span jhiTranslate="appLabApp.modelRunDef.runDate">Date</span></b></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2" (click)="d.toggle()">
                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                    </span>
                </div>
                <input class="form-control" [value]="range_date"/>
                <input class="form-control d-none" placeholder="mm/dd/yyyy"
                       name="dp" [(ngModel)]="selectedDate"
                       ngbDatepicker
                       [autoClose]="false" [displayMonths]="2" #d="ngbDatepicker" (dateSelect)="onDateSelection(d)"
                       [dayTemplate]="t" [navigation]="'arrows'" [outsideDays]="'collapsed'">
                <ng-template #t let-date="date" let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
            </div>
        </div>
    </div>

    <hr>

    <div class="table-responsive" *ngIf="modelRunDefs">

        <!--------------------- EJECUCIONES DIARIAS ------------------------>
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th>
                    <ng-template #compareTip><span jhiTranslate="appLabApp.modelRunDef.compareTip"></span></ng-template>
                    <span jhiTranslate="appLabApp.modelRunDef.compare" [ngbTooltip]="compareTip"></span>
                </th>
                <th>
                    <span jhiTranslate="appLabApp.modelRunDef.name">Name</span>
                </th>
                <th>
                    <span jhiTranslate="appLabApp.modelRunDef.runDate">Run Date</span>
                </th>
                <th>
                    <span jhiTranslate="appLabApp.modelRunDef.quantity">Executions Quantity</span>
                </th>
                <th *ngIf="searchNameString != 'Pattern Generator'">
                    <span jhiTranslate="appLabApp.modelRunDef.resultStatus">Result Status</span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">

            <ng-container
                *ngFor="let modelGroupByDate of modelRunDefs | groupBy: 'runDate'; trackBy: trackId;let index = index;">
                <tr (click)="modelGroupByDate.isOpen = !!!modelGroupByDate.isOpen">
                    <td>
                        <button type="submit" class="btn btn-info btn-sm"
                                (click)="compare($event, modelGroupByDate)">
                            <span class="d-none d-md-inline" jhiTranslate="appLabApp.modelRunDef.compare">Compare</span>
                        </button>
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-secondary btn-sm">
                            {{modelGroupByDate.value[0]?.name}}
                        </button>
                    </td>
                    <td>{{modelGroupByDate.key | date:'mediumDate'}}</td>
                    <td>{{modelGroupByDate.value?.length}}</td>
                    <td *ngIf="modelGroupByDate.value[0]?.name!='Pattern Generator'">
                        <button type="button" class="btn btn-sm btn-outline-secondary" [ngClass]="{
                                    'btn-outline-success': getResultStatus(modelGroupByDate.value) == 'APPLIED',
                                    'btn-outline-warning': getResultStatus(modelGroupByDate.value) == 'INANALYSIS',
                                    'btn-outline-danger': getResultStatus(modelGroupByDate.value) == 'DISCARDED'
                                }"
                                jhiTranslate="{{'appLabApp.resultStatus.' + getResultStatus(modelGroupByDate.value)}}">
                            {{getResultStatus(modelGroupByDate.value)}}
                        </button>

                    </td>
                    <td></td>
                </tr>

                <!------------------ DETALLE DE CADA EJECUCIÓN DIARIA REALIZADA -------------------->
                <tr *ngIf="modelGroupByDate.isOpen">
                    <td colspan="6" class="pl-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span jhiTranslate="appLabApp.modelRunDef.compare">Compare</span>
                                </th>
                                <th><span jhiTranslate="appLabApp.modelRunDef.objFunction">Obj Function</span>
                                </th>
                                <th><span jhiTranslate="appLabApp.modelRunDef.startTime">Start Time</span>
                                </th>
                                <th><span
                                    jhiTranslate="appLabApp.modelRunDef.duration">duration</span>
                                </th>
                                <th><span jhiTranslate="appLabApp.modelRunDef.status">Status</span>
                                </th>
                                <th *ngIf="modelGroupByDate.value[0]?.name!='Pattern Generator'"><span
                                    jhiTranslate="appLabApp.modelRunDef.resultStatus">Result Status</span>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let modelRunDef of modelGroupByDate.value">
                                <td class="pl-4">
                                    <input type="checkbox" [checked]="checkModelList(modelGroupByDate, modelRunDef)"
                                           (change)="changeCompareList(modelGroupByDate, modelRunDef)"
                                           [disabled]="modelGroupByDate?.compareList?.length == 2 &&
                                                        !checkModelList(modelGroupByDate, modelRunDef)"/>
                                </td>
                                <td>{{modelRunDef.objFunction}}</td>
                                <td>{{modelRunDef.startTime}}</td>
                                <td>{{modelRunDef.duration}}</td>
                                <td>
                                    <button *ngIf="modelRunDef.status=='FINISHED'" type="button"
                                            class="btn btn-outline-success btn-sm"
                                            jhiTranslate="{{'appLabApp.Status.' + modelRunDef.status}}">
                                        {{modelRunDef.status}}
                                    </button>
                                    <button *ngIf="modelRunDef.status=='RUNNING'" type="button"
                                            class="btn btn-outline-warning btn-sm"
                                            jhiTranslate="{{'appLabApp.Status.' + modelRunDef.status}}">
                                        {{modelRunDef.status}}
                                    </button>
                                    <button *ngIf="modelRunDef.status=='READY'" type="button"
                                            class="btn btn-outline-info btn-sm"
                                            jhiTranslate="{{'appLabApp.Status.' + modelRunDef.status}}">
                                        {{modelRunDef.status}}
                                    </button>
                                    <button *ngIf="modelRunDef.status=='ERROR'" type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            jhiTranslate="{{'appLabApp.Status.' + modelRunDef.status}}">
                                        {{modelRunDef.status}}
                                    </button>
                                </td>
                                <td *ngIf="modelGroupByDate.value[0]?.name!='Pattern Generator'">

                                    <select
                                        (change)="changeResultStatus($event, modelRunDef, modelGroupByDate)"
                                        class="btn btn-sm"
                                        [ngClass]="{
                                            'btn-outline-success': modelRunDef.resultStatus == 'APPLIED',
                                            'btn-outline-danger': modelRunDef.resultStatus == 'DISCARDED',
                                            'btn-outline-warning': modelRunDef.resultStatus != 'DISCARDED' && modelRunDef.resultStatus != 'APPLIED'
                                        }">
                                        <option value="INANALYSIS" jhiTranslate="appLabApp.resultStatus.INANALYSIS"
                                                [selected]="modelRunDef.resultStatus == 'INANALYSIS'">
                                            INANALYSIS
                                        </option>
                                        <option value="APPLIED" jhiTranslate="appLabApp.resultStatus.APPLIED"
                                                [selected]="modelRunDef.resultStatus == 'APPLIED'">
                                            APPLIED
                                        </option>
                                        <option value="DISCARDED" jhiTranslate="appLabApp.resultStatus.DISCARDED"
                                                [selected]="modelRunDef.resultStatus == 'DISCARDED'">
                                            DISCARDED
                                        </option>
                                    </select>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/model-run-def', modelRunDef.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                  jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'model-run-def/'+ modelRunDef.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                  jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                </tr>
                <!------------------ FIN DETALLE DE EJECUCIONES DIARIAS -------------------->

            </ng-container>

            </tbody>
        </table>

    </div>
</div>
