<div>
    <h2 id="page-heading" class="mb-4">
        <span jhiTranslate="appLabApp.modelRunDef.detail.title">Model Run Def</span> {{modelRunDef.id}} -
        {{modelRunDef.name}}
        <button type="submit" (click)="previousState()" class="btn btn-info float-right">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </h2>
</div>

<ngb-tabset>
    <ngb-tab>
        <ng-template ngbTabTitle><span jhiTranslate="appLabApp.modelRunDef.detail.generalInformation"></span></ng-template>
        <ng-template ngbTabContent>
            <br>
            <form>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="run-date"><b><span jhiTranslate="appLabApp.modelRunDef.runDate">Run Date</span></b></label>
                        <span name="run-date" id="run-date" class="form-control custom-disabled">{{modelRunDef.runDate | date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-4">
                        <label for="start-time"><b><span
                            jhiTranslate="appLabApp.modelRunDef.startTime">Start Time</span></b></label>
                        <input type="text" class="form-control" id="start-time" [(ngModel)]="modelRunDef.startTime"
                               name="start-time" disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="end-time"><b><span jhiTranslate="appLabApp.modelRunDef.endTime">End Time</span></b></label>
                        <input type="text" class="form-control" id="end-time" [(ngModel)]="modelRunDef.endTime"
                               name="end-time" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="language"><b><span jhiTranslate="appLabApp.modelRunDef.language">Language</span></b></label>
                        <input type="text" class="form-control" id="language" [(ngModel)]="modelRunDef.language"
                               name="language" disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="solver"><b><span
                            jhiTranslate="appLabApp.modelRunDef.solver">Solver</span></b></label>
                        <input type="text" class="form-control" id="solver" [(ngModel)]="modelRunDef.solver"
                               name="solver" disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="version"><b><span
                            jhiTranslate="appLabApp.modelRunDef.version">Version</span></b></label>
                        <input type="text" class="form-control" id="version" [(ngModel)]="modelRunDef.version"
                               name="version" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="obj-function"><b><span
                            jhiTranslate="appLabApp.modelRunDef.objFunction">FO</span></b></label>
                        <input type="text" class="form-control" id="obj-function" [(ngModel)]="modelRunDef.objFunction"
                               name="obj-function" disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="status"><b><span jhiTranslate="appLabApp.modelRunDef.status">Execution</span></b></label>
                        <span name="status" id="status" class="form-control custom-disabled"
                              jhiTranslate="{{'appLabApp.Status.'+ modelRunDef.status}}"></span>
                    </div>
                    <div class="col-md-4" *ngIf="modelRunDef.resultStatus">
                        <label for="status"><b><span jhiTranslate="appLabApp.modelRunDef.resultStatus">Result</span></b></label>
                        <span name="resultStatus" id="resultStatus" class="form-control custom-disabled"
                              jhiTranslate="{{'appLabApp.resultStatus.'+ modelRunDef.resultStatus}}"></span>
                    </div>
                </div>
            </form>
        </ng-template>
    </ngb-tab>

    <ngb-tab id="resultsTab">
        <ng-template ngbTabTitle><span jhiTranslate="appLabApp.modelRunDef.detail.results"></span></ng-template>
        <ng-template ngbTabContent>
            <br>
            <jhi-optimization-point-1-charts *ngIf="modelRunDef.name === 'Pattern Generator'"
                                             [(modelRunDef)]="modelRunDef"
                                             [change]="modelRunDefChange"></jhi-optimization-point-1-charts>
            <jhi-optimization-point-2-charts *ngIf="modelRunDef.name === 'Planner'" [(modelRunDef)]="modelRunDef"
                                             [change]="modelRunDefChange"></jhi-optimization-point-2-charts>
        </ng-template>
    </ngb-tab>

</ngb-tabset>

