<ngb-alert [dismissible]="false" *ngIf="executingOP1">
    <strong><span jhiTranslate="appLabApp.optimization.msg.runningProc">runningProc</span></strong> <span jhiTranslate="appLabApp.optimization.msg.runningProcExt">runningProcExt</span>
</ngb-alert>
<ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="noOP1">
    <strong><span jhiTranslate="appLabApp.optimization.msg.runOpt1">runOpt1</span></strong> <span jhiTranslate="appLabApp.optimization.msg.runOpt1Ext">runOpt1Ext</span>
</ngb-alert>
<ngb-alert type="success" *ngIf="!alertClosed" (close)="alertClosed = true">
    {{alertMessage}}
</ngb-alert>
<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.optimization.op2.title">op2</span>
        <button id="new-case" class="btn btn-warning float-right" (click)="randomizeParameters()"
                [disabled]="executingOP1 || !modelRunDef || modelRunDef.status == 'RUNNING'">
            <span jhiTranslate="appLabApp.optimization.op2.action.randomize">randomize</span>
        </button>
        <button id="randomize" class="btn btn-warning float-right mr-2" (click)="reset()"
                [disabled]="executingOP1 || !modelRunDef || modelRunDef.status == 'RUNNING'">
            <span jhiTranslate="appLabApp.optimization.op2.action.newScenary">newScenary</span>
        </button>
        <button id="execute" class="btn btn-primary float-right mr-2" (click)="run()"
                [disabled]="executingOP1 || !modelRunDef || !modelRunDef.objFunction || !configValuesLoaded ||
                            modelRunDef.status == 'RUNNING' || modelRunDef.status == 'FINISHED'">
            <span jhiTranslate="appLabApp.optimization.op2.action.execute">execute</span>
        </button>

    </h2>
<br>
</div>

<ngb-tabset [activeId]="activeTabId" (tabChange)="tabChange($event)">
    <ngb-tab id="dataTab">
        <ng-template ngbTabTitle><span jhiTranslate="appLabApp.optimization.tabInputData">tabInputData</span></ng-template>
        <ng-template ngbTabContent>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <div class="sticky-top">
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#hgrid1"><span jhiTranslate="appLabApp.optimization.op2.finalProducts">finalProducts</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#hgrid6"><span jhiTranslate="appLabApp.optimization.op2.resourceQuantities">resourcesQuantities</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#hgrid7"><span jhiTranslate="appLabApp.optimization.op2.resourceCost">resourceCost</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#hgrid2"><span jhiTranslate="appLabApp.optimization.op2.longGroups">longGroups</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#hgrid3"><span jhiTranslate="appLabApp.optimization.op2.diameterClasses">diameterClasses</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#hgrid4"><span jhiTranslate="appLabApp.optimization.op2.interProducts">interProducts</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#hgrid5"><span jhiTranslate="appLabApp.optimization.op2.productRelations">productRelations</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-md-10">
                    <h3 id="hgrid1">
                        <button *ngIf="!grid1IsValid" type="button" class="btn btn-outline-danger" [ngbTooltip]="ttGrid1Valid" placement="right"><fa-icon [icon]="'exclamation-circle'"></fa-icon></button>
                        <button *ngIf="grid1IsValid" type="button" class="btn btn-outline-success" [ngbTooltip]="ttGrid1Valid" placement="right"><fa-icon [icon]="'check-circle'"></fa-icon></button>
                        <ng-template #ttGrid1Valid>{{grid1ValidMsg}}</ng-template>
                        <span jhiTranslate="appLabApp.optimization.op2.finalProducts">finalProducts</span>
                    </h3>
                    <ag-grid-angular
                        style="width: 100%;"
                        class="ag-theme-balham"
                        id="grid1"
                        [rowData]="rowData1"
                        [columnDefs]="columnDefs1"
                        [singleClickEdit]="true"
                        [stopEditingWhenGridLosesFocus]="true"
                        [enableSorting]="true"
                        [enableFilter]="true"
                        [enableCellChangeFlash]="true"
                        (modelUpdated)="onGridReady($event, 'grid1')"
                    >
                    </ag-grid-angular>
                    <h3 id="hgrid6" class="mt-3">
                        <button *ngIf="!grid6IsValid" type="button" class="btn btn-outline-danger" [ngbTooltip]="ttGrid6Valid" placement="right"><fa-icon [icon]="'exclamation-circle'"></fa-icon></button>
                        <button *ngIf="grid6IsValid" type="button" class="btn btn-outline-success" [ngbTooltip]="ttGrid6Valid" placement="right"><fa-icon [icon]="'check-circle'"></fa-icon></button>
                        <ng-template #ttGrid6Valid>{{grid6ValidMsg}}</ng-template>
                        <span jhiTranslate="appLabApp.optimization.op2.resourceQuantities">resourcesQuantities</span>
                    </h3>
                    <ag-grid-angular
                        style="width: 100%;"
                        class="ag-theme-balham"
                        id="grid6"
                        [rowData]="rowData6"
                        [columnDefs]="columnDefs6"
                        [singleClickEdit]="true"
                        [stopEditingWhenGridLosesFocus]="true"
                        [enableSorting]="true"
                        [enableFilter]="true"
                        [enableCellChangeFlash]="true"
                        (modelUpdated)="onGridReady($event, 'grid6')"
                    >
                    </ag-grid-angular>
                    <h3 id="hgrid7" class="mt-3">
                        <button *ngIf="!grid7IsValid" type="button" class="btn btn-outline-danger" [ngbTooltip]="ttGrid7Valid" placement="right"><fa-icon [icon]="'exclamation-circle'"></fa-icon></button>
                        <button *ngIf="grid7IsValid" type="button" class="btn btn-outline-success" [ngbTooltip]="ttGrid7Valid" placement="right"><fa-icon [icon]="'check-circle'"></fa-icon></button>
                        <ng-template #ttGrid7Valid>{{grid7ValidMsg}}</ng-template>
                        <span jhiTranslate="appLabApp.optimization.op2.resourceCost">resourceCost</span>
                    </h3>
                    <ag-grid-angular
                        style="width: 100%;"
                        class="ag-theme-balham"
                        id="grid7"
                        [rowData]="rowData7"
                        [columnDefs]="columnDefs7"
                        [singleClickEdit]="true"
                        [stopEditingWhenGridLosesFocus]="true"
                        [enableSorting]="true"
                        [enableFilter]="true"
                        [enableCellChangeFlash]="true"
                        (modelUpdated)="onGridReady($event, 'grid7')"
                    >
                    </ag-grid-angular>
                    <h3 id="hgrid2" class="mt-3">
                        <button *ngIf="!grid2IsValid" type="button" class="btn btn-outline-danger" [ngbTooltip]="ttGrid2Valid" placement="right"><fa-icon [icon]="'exclamation-circle'"></fa-icon></button>
                        <button *ngIf="grid2IsValid" type="button" class="btn btn-outline-success" [ngbTooltip]="ttGrid2Valid" placement="right"><fa-icon [icon]="'check-circle'"></fa-icon></button>
                        <ng-template #ttGrid2Valid>{{grid2ValidMsg}}</ng-template>
                        <span jhiTranslate="appLabApp.optimization.op2.longGroups">longGroups</span>
                    </h3>
                    <ag-grid-angular
                        style="width: 100%;"
                        class="ag-theme-balham"
                        id="grid2"
                        [rowData]="rowData2"
                        [columnDefs]="columnDefs2"
                        [singleClickEdit]="true"
                        [stopEditingWhenGridLosesFocus]="true"
                        [enableSorting]="true"
                        [enableFilter]="true"
                        (modelUpdated)="onGridReady($event, 'grid2')"
                    >
                    </ag-grid-angular>
                    <h3 id="hgrid3" class="mt-3">
                        <button *ngIf="!grid3IsValid" type="button" class="btn btn-outline-danger" [ngbTooltip]="ttGrid3Valid" placement="right"><fa-icon [icon]="'exclamation-circle'"></fa-icon></button>
                        <button *ngIf="grid3IsValid" type="button" class="btn btn-outline-success" [ngbTooltip]="ttGrid3Valid" placement="right"><fa-icon [icon]="'check-circle'"></fa-icon></button>
                        <ng-template #ttGrid3Valid>{{grid3ValidMsg}}</ng-template>
                        <span jhiTranslate="appLabApp.optimization.op2.diameterClasses">diameterClasses</span>
                    </h3>
                    <ag-grid-angular
                        style="width: 100%;"
                        class="ag-theme-balham"
                        id="grid3"
                        [rowData]="rowData3"
                        [columnDefs]="columnDefs3"
                        [singleClickEdit]="true"
                        [stopEditingWhenGridLosesFocus]="true"
                        [enableSorting]="true"
                        [enableFilter]="true"
                        (modelUpdated)="onGridReady($event, 'grid3')"
                    >
                    </ag-grid-angular>
                    <h3 id="hgrid4" class="mt-3">
                        <button *ngIf="!grid4IsValid" type="button" class="btn btn-outline-danger" [ngbTooltip]="ttGrid4Valid" placement="right"><fa-icon [icon]="'exclamation-circle'"></fa-icon></button>
                        <button *ngIf="grid4IsValid" type="button" class="btn btn-outline-success" [ngbTooltip]="ttGrid4Valid" placement="right"><fa-icon [icon]="'check-circle'"></fa-icon></button>
                        <ng-template #ttGrid4Valid>{{grid4ValidMsg}}</ng-template>
                        <span jhiTranslate="appLabApp.optimization.op2.interProducts">interProducts</span>
                    </h3>
                    <ag-grid-angular
                        style="width: 100%;"
                        class="ag-theme-balham"
                        id="grid4"
                        [rowData]="rowData4"
                        [columnDefs]="columnDefs4"
                        [singleClickEdit]="true"
                        [stopEditingWhenGridLosesFocus]="true"
                        [enableSorting]="true"
                        [enableFilter]="true"
                        (modelUpdated)="onGridReady($event, 'grid4')"
                    >
                    </ag-grid-angular>
                    <h3 id="hgrid5" class="mt-3">
                        <button *ngIf="!grid5IsValid" type="button" class="btn btn-outline-danger" [ngbTooltip]="ttGrid5Valid" placement="right"><fa-icon [icon]="'exclamation-circle'"></fa-icon></button>
                        <button *ngIf="grid5IsValid" type="button" class="btn btn-outline-success" [ngbTooltip]="ttGrid5Valid" placement="right"><fa-icon [icon]="'check-circle'"></fa-icon></button>
                        <ng-template #ttGrid5Valid>{{grid5ValidMsg}}</ng-template>
                        <span jhiTranslate="appLabApp.optimization.op2.productRelations">productRelations</span>
                    </h3>
                    <ag-grid-angular
                        style="width: 100%;"
                        class="ag-theme-balham"
                        id="grid5"
                        [rowData]="rowData5"
                        [columnDefs]="columnDefs5"
                        [singleClickEdit]="true"
                        [stopEditingWhenGridLosesFocus]="true"
                        [enableSorting]="true"
                        [enableFilter]="true"
                        (modelUpdated)="onGridReady($event, 'grid5')"
                    >
                    </ag-grid-angular>
                </div>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab id="processTab">
        <ng-template ngbTabTitle><span jhiTranslate="appLabApp.optimization.tabProccess">tabProccess</span></ng-template>
        <ng-template ngbTabContent>
            <br>
            <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h5>{{modelRunDef.name}}</h5>
                    <form>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="language"><b><span jhiTranslate="appLabApp.optimization.language">language</span></b></label>
                                <input type="text" class="form-control" id="language" [(ngModel)]="modelRunDef.language" name="language"  disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="solver"><b><span jhiTranslate="appLabApp.optimization.solver">solver</span></b></label>
                                <input type="text" class="form-control" id="solver" [(ngModel)]="modelRunDef.solver" name="solver" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="obj-function"><b><span jhiTranslate="appLabApp.optimization.objFunction">objFunction</span></b></label>
                                <select *ngIf="objFunctions" class="form-control" name="obj-function" [(ngModel)]="modelRunDef.objFunction" id="obj-function"  required>
                                    <option *ngFor="let objFunction of objFunctions"
                                            [value]= "objFunction.name">
                                        {{objFunction.name}}
                                    </option>
                                </select>
                                <div [hidden]="modelRunDef.objFunction">
                                    <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="status"><b><span jhiTranslate="appLabApp.optimization.status">status</span></b></label>
                                <input type="text" class="form-control" id="status" [(ngModel)]="modelRunDef.status" name="status" disabled>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="configs?.length>0">
                            <div class="col-md-6">
                                <label for="config-table"><b><span jhiTranslate="appLabApp.optimization.configuration">configuration</span></b></label>
                                <table class="table table-condensed table-sm table-bordered" id="config-table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th><span jhiTranslate="appLabApp.optimization.parameter">parameter</span></th>
                                        <th><span jhiTranslate="appLabApp.optimization.parameterValue">parameterValue</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let modelConfig of configs;let index = index;">
                                        <td>{{modelConfig.param}}</td>
                                        <td><input type="number" class="form-control" name=a{{index}} [(ngModel)]="configs[index].value"
                                                   required (ngModelChange)="configChange()"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="modelRunDef.progress" class="form-group">
                            <label for="progress"><b><span jhiTranslate="appLabApp.optimization.progress">progress</span></b></label>
                            <ngb-progressbar [showValue]="true" type="info" id="progress" name="progress" [value]="modelRunDef.progress" [striped]="true" [animated]="true"></ngb-progressbar>
                        </div>
                    </form>
            </div>
            <div class="col-md-1"></div>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab id="resultsTab">
        <ng-template ngbTabTitle><span jhiTranslate="appLabApp.optimization.tabResults">tabResults</span></ng-template>
        <ng-template ngbTabContent>
            <br>
            <jhi-optimization-point-2-charts [(modelRunDef)]="modelRunDef" [change]="modelRunDefChange"></jhi-optimization-point-2-charts>
        </ng-template>
    </ngb-tab>

</ngb-tabset>
