<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="longGroup">
            <h2><span jhiTranslate="appLabApp.longGroup.detail.title">Long Group</span> {{longGroup.code}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.longGroup.code">Code</span></dt>
                <dd>
                    <span>{{longGroup.code}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.longGroup.value">Value</span></dt>
                <dd>
                    <span>{{longGroup.value}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.longGroup.valType">Val Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'appLabApp.Unit.' + longGroup.valType}}">{{longGroup.valType}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.longGroup.description">Description</span></dt>
                <dd>
                    <span>{{longGroup.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/long-group', longGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
