<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-long-group-heading" jhiTranslate="appLabApp.longGroup.home.createOrEditLabel">Create or edit a Long Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!longGroup.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="longGroup.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.longGroup.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="longGroup.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.longGroup.value" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                        [(ngModel)]="longGroup.value" required/>
                    <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.value?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.longGroup.valType" for="field_valType">Val Type</label>
                    <select class="form-control" name="valType" [(ngModel)]="longGroup.valType" id="field_valType"  required>
                        <option value="CM">{{'appLabApp.Unit.CM' | translate}}</option>
                        <option value="MM">{{'appLabApp.Unit.MM' | translate}}</option>
                        <option value="M">{{'appLabApp.Unit.M' | translate}}</option>
                        <option value="PIE">{{'appLabApp.Unit.PIE' | translate}}</option>
                        <option value="PULGADA">{{'appLabApp.Unit.PULGADA' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.valType?.dirty && editForm.controls.valType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.valType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.longGroup.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="longGroup.description" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
