<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="modelRunConfig">
            <h2><span jhiTranslate="appLabApp.modelRunConfig.detail.title">Model Run Config</span> {{modelRunConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.modelRunConfig.param">Param</span></dt>
                <dd>
                    <span>{{modelRunConfig.param}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.modelRunConfig.value">Value</span></dt>
                <dd>
                    <span>{{modelRunConfig.value}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.modelRunConfig.modelRunDef">Model Run Def</span></dt>
                <dd>
                    <div *ngIf="modelRunConfig.modelRunDefId">
                        <a [routerLink]="['/model-run-def', modelRunConfig.modelRunDefId, 'view']">{{modelRunConfig.modelRunDefId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/model-run-config', modelRunConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
