<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-model-run-config-heading" jhiTranslate="appLabApp.modelRunConfig.home.createOrEditLabel">Create or edit a Model Run Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.modelRunConfig.param" for="field_param">Param</label>
                    <input type="text" class="form-control" name="param" id="field_param"
                        [(ngModel)]="modelRunConfig.param" required/>
                    <div [hidden]="!(editForm.controls.param?.dirty && editForm.controls.param?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.param?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.modelRunConfig.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="modelRunConfig.value" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.modelRunConfig.modelRunDef" for="field_modelRunDef">Model Run Def</label>
                    <select class="form-control" id="field_modelRunDef" name="modelRunDef" [(ngModel)]="modelRunConfig.modelRunDefId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="modelRunDefOption.id" *ngFor="let modelRunDefOption of modelrundefs; trackBy: trackModelRunDefById">{{modelRunDefOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
