<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.modelRunConfig.home.title">Model Run Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-model-run-config" [routerLink]="['/model-run-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.modelRunConfig.home.createLabel">
            Create new Model Run Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="modelRunConfigs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="param"><span jhiTranslate="appLabApp.modelRunConfig.param">Param</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="appLabApp.modelRunConfig.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modelRunDefId"><span jhiTranslate="appLabApp.modelRunConfig.modelRunDef">Model Run Def</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let modelRunConfig of modelRunConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/model-run-config', modelRunConfig.id, 'view' ]">{{modelRunConfig.id}}</a></td>
                <td>{{modelRunConfig.param}}</td>
                <td>{{modelRunConfig.value}}</td>
                <td>
                    <div *ngIf="modelRunConfig.modelRunDefId">
                        <a [routerLink]="['../model-run-def', modelRunConfig.modelRunDefId , 'view' ]" >{{modelRunConfig.modelRunDefId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/model-run-config', modelRunConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/model-run-config', modelRunConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'model-run-config/'+ modelRunConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
