<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.configYieldPlanning.home.title">Config Yield Plannings</span>
        <button *jhiHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-config-yield-planning" [routerLink]="['/config-yield-planning/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.configYieldPlanning.home.createLabel">
            Create new Config Yield Planning
            </span>
        </button>
    </h2>
    <p><span jhiTranslate="appLabApp.configYieldPlanning.home.subtitle">subtitle</span></p>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="configYieldPlannings">
        <table class="table table-striped">
            <thead>
            <tr align="center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="diameterGroupId"><span jhiTranslate="appLabApp.configYieldPlanning.diameterGroup">Diameter Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="appLabApp.configYieldPlanning.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr td align="center" *ngFor="let configYieldPlanning of configYieldPlannings ;trackBy: trackId">
                <td>
                    <div *ngIf="configYieldPlanning.diameterGroupId">
                        <a [routerLink]="['../diameter-group', configYieldPlanning.diameterGroupId , 'view' ]" >{{configYieldPlanning.diameterGroupCode}}</a>
                    </div>
                </td>
                <td >{{configYieldPlanning.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/config-yield-planning', configYieldPlanning.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'config-yield-planning/'+ configYieldPlanning.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
