<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="configYieldPlanning">
            <h2><span jhiTranslate="appLabApp.configYieldPlanning.detail.title">Config Yield Planning</span> {{configYieldPlanning.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.configYieldPlanning.value">Value</span></dt>
                <dd>
                    <span>{{configYieldPlanning.value}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.configYieldPlanning.diameterGroup">Diameter Group</span></dt>
                <dd>
                    <div *ngIf="configYieldPlanning.diameterGroupId">
                        <a [routerLink]="['/diameter-group', configYieldPlanning.diameterGroupId, 'view']">{{configYieldPlanning.diameterGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/config-yield-planning', configYieldPlanning.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
