<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="interProduct">
            <h2><span jhiTranslate="appLabApp.interProduct.detail.title">Inter Product</span> {{interProduct.code}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.interProduct.code">Code</span></dt>
                <dd>
                    <span>{{interProduct.code}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.interProduct.tickness">Tickness</span></dt>
                <dd>
                    <span>{{interProduct.tickness}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.interProduct.width">Width</span></dt>
                <dd>
                    <span>{{interProduct.width}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.interProduct.valType">Val Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'appLabApp.Unit.' + interProduct.valType}}">{{interProduct.valType}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.interProduct.longGroups">Long Groups</span></dt>
                <dd>
                    <span>{{interProduct.longGroups}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.interProduct.description">Description</span></dt>
                <dd>
                    <span>{{interProduct.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inter-product', interProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
