<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.interProduct.home.title">Inter Products</span>
        <button *jhiHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inter-product" [routerLink]="['/inter-product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.interProduct.home.createLabel">
            Create new Inter Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>

    <div class="ui right action left icon input mb-4 mr-4 mt-4">
        <i class="search icon"></i>
        <input type="text" [placeholder]="search.inputPlaceholder" [(ngModel)]="search.keyword">
        <sui-select class="selection inline-search"
                    [(ngModel)]="search.field"
                    [options]="search.fields"
                    [isSearchable]="true"
                    [placeholder]="search.selectPlaceholder"
                    labelField="label"
                    valueField="value"
                    #searchBar>
            <sui-select-option *ngFor="let option of searchBar.filteredOptions" [value]="option">
            </sui-select-option>
        </sui-select>
        <button class="btn create-final-product border-left-none pl-4 pr-4" (click)="reset()">
            <span jhiTranslate="global.search">search</span>
        </button>
    </div>
    <h5 class="d-inline">
        <span class="badge badge-info p-2" jhiTranslate="global.results"
              translateValues="{totalItems: '{{totalItems}}'}">
        </span>
    </h5>

    <div class="table-responsive" *ngIf="interProducts.length">
        <table class="table table-striped">
            <thead>
            <tr  align="center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="code"><span jhiTranslate="appLabApp.interProduct.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tickness"><span jhiTranslate="appLabApp.interProduct.tickness">Tickness</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="width"><span jhiTranslate="appLabApp.interProduct.width">Width</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valType"><span jhiTranslate="appLabApp.interProduct.valType">Val Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longGroups"><span jhiTranslate="appLabApp.interProduct.longGroups">Long Groups</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr  align="center"  *ngFor="let interProduct of interProducts ;trackBy: trackId">
                <td><a [routerLink]="['/inter-product', interProduct.id, 'view' ]">{{interProduct.code}}</a></td>
                <td>{{interProduct.tickness}}</td>
                <td>{{interProduct.width}}</td>
                <td  align="center"  jhiTranslate="{{'appLabApp.Unit.' + interProduct.valType}}">{{interProduct.valType}}</td>
                <td>{{interProduct.longGroups}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/inter-product', interProduct.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inter-product/'+ interProduct.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
