<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-inter-product-heading" jhiTranslate="appLabApp.interProduct.home.createOrEditLabel">Create or edit a Inter Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.interProduct.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="interProduct.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.interProduct.tickness" for="field_tickness">Tickness</label>
                        <input type="number" class="form-control" name="tickness" id="field_tickness"
                            [(ngModel)]="interProduct.tickness" required min="0" jhiMin="0"/>
                        <div [hidden]="!(editForm.controls.tickness?.dirty && editForm.controls.tickness?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tickness?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.tickness?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                                This field should be at least 0.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.tickness?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.interProduct.width" for="field_width">Width</label>
                        <input type="number" class="form-control" name="width" id="field_width"
                            [(ngModel)]="interProduct.width" required min="0" jhiMin="0"/>
                        <div [hidden]="!(editForm.controls.width?.dirty && editForm.controls.width?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.width?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.width?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                                This field should be at least 0.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.width?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.interProduct.valType" for="field_valType">Val Type</label>
                        <select class="form-control" name="valType" [(ngModel)]="interProduct.valType" id="field_valType"  required>
                            <option value="CM">{{'appLabApp.Unit.CM' | translate}}</option>
                            <option value="MM">{{'appLabApp.Unit.MM' | translate}}</option>
                            <option value="M">{{'appLabApp.Unit.M' | translate}}</option>
                            <option value="PIE">{{'appLabApp.Unit.PIE' | translate}}</option>
                            <option value="PULGADA">{{'appLabApp.Unit.PULGADA' | translate}}</option>
                        </select>
                        <div [hidden]="!(editForm.controls.valType?.dirty && editForm.controls.valType?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.valType?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.interProduct.longGroups" for="field_longGroups">Long Groups</label>
                    <sui-multi-select class="selection form-control"
                                      name="longGroups"
                                      id="field_longGroups"
                                      [(ngModel)]="interProduct.longGroupsArray"
                                      [options]="longGroupSummary.longs"
                                      labelField="code"
                                      valueField="code"
                                      [isSearchable]=true
                                      #multiSelect>
                        <sui-select-option *ngFor="let option of multiSelect.filteredOptions"
                                           [value]="option">
                        </sui-select-option>
                    </sui-multi-select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.interProduct.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="interProduct.description" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
