<div *ngIf="companies.length==0">
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.company.home.title">Companies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/company/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.company.home.createLabel">
            Create new Company
            </span>
        </button>
    </h2>
</div>

<div class="row justify-content-center" *ngFor="let company of companies ;trackBy: trackId">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-company-heading" jhiTranslate="appLabApp.company.home.title">Companies</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.company.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           [(ngModel)]="company.name" readonly required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.company.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           [(ngModel)]="company.address" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.company.website" for="field_website">Website</label>
                    <input type="text" class="form-control" name="website" id="field_website"
                           [(ngModel)]="company.website" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.company.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           [(ngModel)]="company.email" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.company.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           [(ngModel)]="company.phone" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.company.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="company.description" readonly/>
                </div>

            </div>
            <div>
                <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                        [routerLink]="['/company', company.id, 'edit']"
                        class="btn btn-primary btn-sm">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                        [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/delete'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-danger btn-sm">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </div>
        </form>
    </div>
</div>
