<div>
    <h2>Acerca de <strong>App #1: Aserradero</strong></h2>
    <div class="row">
    <div class="col-sm-12">
        <p class="lead">
            <strong>App #1: Aserradero es una herramienta para la Planificación Diaria de Aserraderos.</strong>
        </p>
        <blockquote class="blockquote">
            <p>
                La aplicación consta de dos etapas: <strong>Generación de Patrones Intermedios</strong> y <strong>Planificador</strong>
            </p>
            <p>
                Para que la aplicación funcione en forma correcta, el servidor debe tener instalado y configurado GAMS 24.8 o superior,
                con su correspondiente licencia, junto con los archivos fuentes del modelo.
            </p>
            <p>
                <strong>Etapa 1: Generación de Patrones Intermedios</strong>:
            </p>
            <ol>
                <li>Cargar información básica de la empresa. [Entidades -> Empresa]</li>
                <li>Cargar largos disponibles. [Entidades -> Largos disponibles]</li>
                <li>Cargar clases diamétricas. [Entidades -> Clases diamétricas]</li>
                <li>Cargar productos intermedios. [Entidades -> Productos intermedios]</li>
                <li>Cargar configuración de Kerf. [Entidades -> Kerf]</li>
                <li><strong>Ejecutar el Optimization #1: Generador de patrones intermedios. [Generador de patrones]</strong></li>
            </ol>
            <p>
                El resultado de esta etapa es la generación de la combinatoria de patrones para, posteriormente ejecutar el planificador.
            </p>
            <p>
                <strong>Etapa 2: Planificador</strong>:
            </p>
            <ol>
                <li>Cargar productos finales. [Entidades -> Productos finales]</li>
                <li>Cargar relaci&oacute;n de productos intermedios a finales. [Entidades -> Productos intermedios a finales]</li>
                <li>Cargar disponibilidad de materia prima. [Entidades -> Disponibilidad de rollos]</li>
                <li>Cargar costo de materia prima. [Entidades -> Costo de rollos]</li>
                <li>Cargar demanda y precio de productos finales. [Entidades -> Demanda y precios]</li>
                <li>Cargar costo de materia prima. [Entidades -> Disponibilidad de rollos]</li>
                <li>Cargar configuraci&oacute;n de planificador. [Entidades -> Generador / Planificador]</li>
                <li>Cargar configuraci&oacute;n de tiempos de proceso. [Entidades -> Tiempos de proceso]</li>
                <li>Cargar correcci&oacute;n de tiempo de proceso por tablas. [Entidades -> Correcci&oacute;n por tablas]</li>
                <li>Cargar rendimiento de corte del planificador. [Entidades -> Rendimiento corte Planificador]</li>
                <li><strong>Ejecutar el Optimization #2: Planificador. [Planificador]</strong></li>
            </ol>
            <!--
            <footer class="blockquote-footer">Matt Raible in <cite title="The JHipster Mini-Book">The JHipster Mini-Book</cite></footer>
            -->
        </blockquote>
        <p>
            Esta aplicación ha sido desarrollada por el <a href="http://www.ingar.santafe-conicet.gov.ar/">Instituto INGAR (CONICET - UTN)</a>.
        </p>
    </div>

</div>
</div>
