<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resourceCost">
            <h2><span jhiTranslate="appLabApp.resourceCost.detail.title">Resource Cost</span> {{resourceCost.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.resourceCost.value">Value</span></dt>
                <dd>
                    <span>{{resourceCost.value}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.resourceCost.diameterGroup">Diameter Group</span></dt>
                <dd>
                    <div *ngIf="resourceCost.diameterGroupId">
                        <a [routerLink]="['/diameter-group', resourceCost.diameterGroupId, 'view']">{{resourceCost.diameterGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resource-cost', resourceCost.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
