<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.resourceCost.home.title">Resource Costs</span>
        <button *jhiHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resource-cost" [routerLink]="['/resource-cost/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.resourceCost.home.createLabel">
            Create new Resource Cost
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="resourceCosts">
        <table class="table table-striped">
            <thead>
            <tr align="center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="diameterGroupId"><span jhiTranslate="appLabApp.resourceCost.diameterGroup">Diameter Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="appLabApp.resourceCost.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr td align="center" *ngFor="let resourceCost of resourceCosts ;trackBy: trackId">
                <td >
                    <div *ngIf="resourceCost.diameterGroupId">
                        <a [routerLink]="['../diameter-group', resourceCost.diameterGroupId , 'view' ]" >{{resourceCost.diameterGroupCode}}</a>
                    </div>
                </td>
                <td >{{resourceCost.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/resource-cost', resourceCost.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resource-cost/'+ resourceCost.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
