/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/custom-logo.png') no-repeat center top;
    background-size: contain;
}

.dashboard-cont {
    max-width: 1200px;
    margin: auto;
}

.header-card .card-body {
    height: 100px;
    max-height: 100px;
}

.header-card .card-body p {
    max-height: 24px;
    line-height: 24px;
    overflow: hidden;
}

.header-card .card-body .card-title {
    font-size: 18px;
}

.header-card .card-text fa-icon {
    font-size: 15px;
    margin-right: 6px;
}

.header-card .card-footer fa-icon {
    font-size: 14px;
    margin-left: 4px;
}

.header-card .card-footer {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: #ecefef;
}

/* CONTENEDORES */

.border-top-info {
    border-top: 3px solid #17a2b8 !important;
}

.card-body .no-content {
    color: #999999;
}

.earnings-chart {
    height: 358px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.earnings-chart > chart {
    height: 100%;
}

.inline-filter > sui-multi-select {
    width: 90%;
    width: calc(100% - 60px);
}

/* INFO BOX */
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box > span {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 30px;
    line-height: 85px;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.info-box > div {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box > div > span {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
}

.info-box > div > span:first-child {
    font-weight: 200;
}
.info-box > div > span:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}
.info-box > div > span:nth-child(3) {
    font-weight: 400;
    font-size: 13px;
}

/* TABLA */

.custom-font-size {
    font-size: 14px;
}

.status-text {
    font-size: 13px;
    padding: 5px 10px;
    color: #ffffff !important;
    font-weight: bold;
    border-radius: 5px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/custom-logo.png') no-repeat center top;
        background-size: contain;
    }
}
