<div [ngSwitch]="isAuthenticated()" class="dashboard-cont">
    <!-- non authenticated section -->
    <div *ngSwitchCase="false">
        <div class="row">
            <div class="col-md-3">
                <span class="hipster img-fluid rounded"></span>
            </div>
            <div class="col-md-9">
                <h1 class="display-4" jhiTranslate="home.title">home.title</h1>
                <p class="lead" jhiTranslate="home.subtitle">home.subtitle</p>

                <div class="alert alert-info">
                    <button class="btn btn-primary" (click)="login()" [ngbTooltip]="inTooltip" placement="top">
                        <fa-icon [icon]="'sign-in-alt'"></fa-icon>
                        <span jhiTranslate="global.messages.info.authenticated.link">sign in</span>
                        <ng-template #inTooltip><span jhiTranslate="global.messages.info.authenticated.defAccounts">defAccounts</span>
                        </ng-template>
                    </button>
                </div>

                <!-- Mensaje para ingresar con cuenta demo -->
                <div class="alert alert-info">
                    <span jhiTranslate="global.messages.info.demo.noaccount">You don't have an account?</span>&nbsp;
                    <br>
                </div>

                <!-- Mensaje para registrar nueva cuenta -->
                <!--
                <div class="alert alert-info">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                    <br>
                    <button class="btn btn-info" routerLink="register">
                        <fa-icon [icon]="'user-plus'"></fa-icon>
                        <span jhiTranslate="global.messages.info.register.link">Register a new account</span>
                    </button>
                </div>
                -->

                <br>
                <a routerLink="about" class="btn btn-info hidden-sm-down text-white">
                    <fa-icon [icon]="'info-circle'"></fa-icon>
                    <span jhiTranslate="global.messages.info.learnMore">Learn more</span>
                </a>
            </div>
        </div>
    </div>

    <!-- authenticated section -->
    <div *ngSwitchCase="true">

        <ng-container *ngIf="optSummary">

            <!-- header cards -->
            <div class="row mb-3">
                <div class="col-md-3 mb-4">
                    <div class="card text-white header-card"
                         [ngClass]="{'bg-info': optSummary?.languageSolver, 'bg-alert': !optSummary?.languageSolver}">
                        <div class="card-body">
                            <p class="card-title font-weight-bold" jhiTranslate="home.dashboard1"></p>
                            <p class="card-text">
                                <fa-icon
                                    [icon]="optSummary?.languageSolver ? 'check-square' : 'window-close'"></fa-icon>
                                <span *ngIf="optSummary?.languageSolver">{{optSummary?.languageSolver}}</span>
                                <span *ngIf="!optSummary?.languageSolver" jhiTranslate="home.nocontent"></span>
                            </p>
                        </div>
                        <div class="card-footer" routerLink="env-config">
                            <span jhiTranslate="{{optSummary?.languageSolver ? 'home.seeMore' : 'home.define'}}"></span>
                            <fa-icon [icon]="'arrow-circle-right'"></fa-icon>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card text-white header-card"
                         [ngClass]="{'bg-info': optSummary?.modelsCount, 'bg-alert': !optSummary?.modelsCount}">
                        <div class="card-body">
                            <p class="card-title font-weight-bold" jhiTranslate="home.dashboard2"></p>
                            <p class="card-text">
                                <fa-icon [icon]="optSummary?.modelsCount ? 'check-square' : 'window-close'"></fa-icon>
                                <span *ngIf="optSummary?.modelsCount" jhiTranslate="home.availabilityCount"
                                      translateValues="{count: '{{optSummary?.modelsCount}}'}"></span>
                                <span *ngIf="!optSummary?.modelsCount" jhiTranslate="home.nocontent"></span>
                            </p>
                        </div>
                        <div class="card-footer" routerLink="model-def">
                            <span jhiTranslate="{{optSummary?.modelsCount ? 'home.seeMore' : 'home.define'}}"></span>
                            <fa-icon [icon]="'arrow-circle-right'"></fa-icon>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card text-white header-card"
                         [ngClass]="{'bg-info': !optSummary?.resourceQty, 'bg-alert': optSummary?.resourceQty}">
                        <div class="card-body">
                            <p class="card-title font-weight-bold" jhiTranslate="home.dashboard3"></p>
                            <p class="card-text">
                                <fa-icon [icon]="!optSummary?.resourceQty ? 'check-square' : 'window-close'"></fa-icon>
                                <span *ngIf="!optSummary?.resourceQty" jhiTranslate="home.withStock"></span>
                                <span *ngIf="optSummary?.resourceQty" jhiTranslate="home.withoutStock"
                                      translateValues="{count: '{{optSummary?.resourceQty}}'}"></span>
                            </p>
                        </div>
                        <div class="card-footer" routerLink="resource-qty">
                            <span jhiTranslate="{{optSummary?.resourceQty ? 'home.seeMore' : 'home.define'}}"></span>
                            <fa-icon [icon]="'arrow-circle-right'"></fa-icon>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card text-white header-card"
                         [ngClass]="{'bg-info': optSummary?.resourceCostAvg, 'bg-alert': !optSummary?.resourceCostAvg}">
                        <div class="card-body">
                            <p class="card-title font-weight-bold" jhiTranslate="home.dashboard4"></p>
                            <p class="card-text">
                                <fa-icon
                                    [icon]="optSummary?.resourceCostAvg ? 'check-square' : 'window-close'"></fa-icon>
                                <span *ngIf="optSummary?.resourceCostAvg" jhiTranslate="home.costAvg"
                                      translateValues="{cost: '{{optSummary?.resourceCostAvg}}'}"></span>
                                <span *ngIf="!optSummary?.resourceCostAvg" jhiTranslate="home.nocontent"></span>
                            </p>
                        </div>
                        <div class="card-footer" routerLink="resource-cost">
                            <span
                                jhiTranslate="{{optSummary?.resourceCostAvg ? 'home.seeMore' : 'home.define'}}"></span>
                            <fa-icon [icon]="'arrow-circle-right'"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header cards -->


            <!-- earnings chart - resume data -->
            <div class="row mb-4">

                <!-- earning chart -->
                <div class="col-md-8">
                    <div class="card border-top-info">
                        <div class="card-header">
                            <b><span jhiTranslate="home.chartTitle1"></span></b>

                        </div>
                        <div class="card-body earnings-chart" [ngClass]="{'pl-4 pr-4': charts?.chart1?.data}">
                            <span *ngIf="!charts?.chart1?.data" class="no-content" jhiTranslate="home.noChart"></span>
                            <chart class="mt-1" type="line" [data]="charts?.chart1?.data"
                                   [options]="charts?.chart1?.options" *ngIf="charts?.chart1?.data"></chart>
                        </div>
                    </div>
                </div>

                <!-- resume data -->
                <div class="col-md-4 pl-5">
                    <div class="info-box bg-green" routerLink="long-group">
                    <span>
                        <fa-icon [icon]="'signal'"></fa-icon>
                    </span>
                        <div>
                            <span jhiTranslate="appLabApp.longGroup.home.shortTitle" class="text-uppercase"></span>
                            <span>{{optSummary?.longsCount || "0"}}</span>
                            <span jhiTranslate="home.availability"></span>
                        </div>
                    </div>

                    <div class="info-box bg-blue" routerLink="diameter-group">
                    <span>
                        <fa-icon [icon]="'bullseye'"></fa-icon>
                    </span>
                        <div>
                            <span jhiTranslate="appLabApp.diameterGroup.home.title" class="text-uppercase"></span>
                            <span>{{optSummary?.diametersCount || "0"}}</span>
                            <span jhiTranslate="home.availability"></span>
                        </div>
                    </div>

                    <div class="info-box bg-yellow" routerLink="inter-product">
                    <span>
                        <fa-icon [icon]="'th-large'"></fa-icon>
                    </span>
                        <div>
                            <span jhiTranslate="appLabApp.interProduct.home.title" class="text-uppercase"></span>
                            <span>{{optSummary?.interProductsCount || "0"}}</span>
                            <span jhiTranslate="home.availability"></span>
                        </div>
                    </div>

                    <div class="info-box bg-orange" routerLink="final-product">
                    <span>
                        <fa-icon [icon]="'th'"></fa-icon>
                    </span>
                        <div>
                            <span jhiTranslate="appLabApp.finalProduct.home.title" class="text-uppercase"></span>
                            <span>{{optSummary?.finalProductsCount || "0"}}</span>
                            <span jhiTranslate="home.availability"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end earnings chart - resume data -->

            <!-- last opt1 and opt2 execution -->
            <div class="row mb-4">

                <div class="col-md-8">
                    <div class="card border-top-info mb-5">
                        <div class="card-header" routerLink="model-run-def">
                            <b><span jhiTranslate="home.lastExecutions"></span></b>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive"
                                 *ngIf="optSummary?.lastOpt1Execution || optSummary?.lastOpt2Execution">
                                <table class="table table-striped custom-font-size">
                                    <thead>
                                    <tr>
                                        <th><span jhiTranslate="appLabApp.modelRunDef.name"></span></th>
                                        <th><span jhiTranslate="appLabApp.modelRunDef.objFunction"></span></th>
                                        <th><span jhiTranslate="appLabApp.modelRunDef.runDate"></span></th>
                                        <th><span jhiTranslate="appLabApp.modelRunDef.startTime"></span></th>
                                        <th><span jhiTranslate="appLabApp.modelRunDef.status"></span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr routerLink="model-run-def" *ngIf="optSummary?.lastOpt1Execution">
                                        <td>{{optSummary?.lastOpt1Execution?.name}}</td>
                                        <td>{{optSummary?.lastOpt1Execution?.objFunction}}</td>
                                        <td>{{optSummary?.lastOpt1Execution?.runDate | date:'mediumDate'}}</td>
                                        <td>{{optSummary?.lastOpt1Execution?.startTime}}</td>
                                        <td>
                                            <span
                                                jhiTranslate="{{'appLabApp.Status.' + optSummary?.lastOpt1Execution?.status}}"
                                                class="status-text" [ngClass]="{'bg-success': optSummary?.lastOpt1Execution?.status == 'FINISHED',
                                                    'bg-danger': optSummary?.lastOpt1Execution?.status != 'FINISHED'}">
                                                {{optSummary?.lastOpt1Execution?.status}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr routerLink="model-run-def" *ngIf="optSummary?.lastOpt2Execution">
                                        <td>{{optSummary?.lastOpt2Execution?.name}}</td>
                                        <td>{{optSummary?.lastOpt2Execution?.objFunction}}</td>
                                        <td>{{optSummary?.lastOpt2Execution?.runDate | date:'mediumDate'}}</td>
                                        <td>{{optSummary?.lastOpt2Execution?.startTime}}</td>
                                        <td>
                                        <span
                                            jhiTranslate="{{'appLabApp.Status.' + optSummary?.lastOpt2Execution?.status}}"
                                            class="status-text" [ngClass]="{'bg-success': optSummary?.lastOpt2Execution?.status == 'FINISHED',
                                                'bg-danger': optSummary?.lastOpt2Execution?.status != 'FINISHED'}">
                                            {{optSummary?.lastOpt2Execution?.status}}
                                        </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <span *ngIf="!optSummary?.lastOpt1Execution && !optSummary?.lastOpt2Execution"
                                  class="no-content" jhiTranslate="home.noExecutions"></span>
                        </div>
                    </div>

                    <!-- user account text -->
                    <div class="alert alert-success">
                    <span *ngIf="account" jhiTranslate="home.logged.message"
                          translateValues="{username: '{{account.login}}'}"></span>
                    </div>
                    <!-- end user account text -->

                </div>

                <div class="col-md-4 pl-5">
                    <div class="card border-top-info" routerLink="resource-cost">
                        <div class="card-header">
                            <b><span jhiTranslate="home.chartTitle2"></span></b>
                        </div>
                        <div class="card-body earnings-chart" [ngClass]="{'pl-5 pr-5': charts?.chart2?.data}">
                            <span *ngIf="!charts?.chart2?.data" class="no-content" jhiTranslate="home.noChart"></span>
                            <chart type="doughnut" [data]="charts?.chart2?.data"
                                   [options]="charts?.chart2?.options" *ngIf="charts?.chart2?.data"></chart>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end last opt1 and opt2 execution -->

        </ng-container>

    </div>
    <!-- /authenticated section -->
</div>
