<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.resourceQty.home.title">Resource Qties</span>
        <button *jhiHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resource-qty" [routerLink]="['/resource-qty/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.resourceQty.home.createLabel">
            Create new Resource Qty
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="resourceQties">
        <table class="table table-striped">
            <thead>
            <tr align="center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="diameterGroupId"><span jhiTranslate="appLabApp.resourceQty.diameterGroup">Diameter Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longGroupId"><span jhiTranslate="appLabApp.resourceQty.longGroup">Long Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="appLabApp.resourceQty.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr td align="center" *ngFor="let resourceQty of resourceQties ;trackBy: trackId">
                <td>
                    <div *ngIf="resourceQty.diameterGroupId">
                        <a [routerLink]="['../diameter-group', resourceQty.diameterGroupId , 'view' ]" >{{resourceQty.diameterGroupCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="resourceQty.longGroupId">
                        <a [routerLink]="['../long-group', resourceQty.longGroupId , 'view' ]" >{{resourceQty.longGroupCode}}</a>
                    </div>
                </td>
                <td>{{resourceQty.quantity}}</td>
                <td class="text-right">
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/resource-qty', resourceQty.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resource-qty/'+ resourceQty.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
