<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resourceQty">
            <h2><span jhiTranslate="appLabApp.resourceQty.detail.title">Resource Qty</span> {{resourceQty.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.resourceQty.quantity">Quantity</span></dt>
                <dd>
                    <span>{{resourceQty.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.resourceQty.diameterGroup">Diameter Group</span></dt>
                <dd>
                    <div *ngIf="resourceQty.diameterGroupId">
                        <a [routerLink]="['/diameter-group', resourceQty.diameterGroupId, 'view']">{{resourceQty.diameterGroupId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.resourceQty.longGroup">Long Group</span></dt>
                <dd>
                    <div *ngIf="resourceQty.longGroupId">
                        <a [routerLink]="['/long-group', resourceQty.longGroupId, 'view']">{{resourceQty.longGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resource-qty', resourceQty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
