<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-resource-qty-heading" jhiTranslate="appLabApp.resourceQty.home.createOrEditLabel">Create or edit a Resource Qty</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.resourceQty.diameterGroup" for="field_diameterGroup">Diameter Group</label>
                    <select class="form-control" id="field_diameterGroup" name="diameterGroup" [(ngModel)]="resourceQty.diameterGroupId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="diameterGroupOption.id" *ngFor="let diameterGroupOption of diametergroups; trackBy: trackDiameterGroupById">{{diameterGroupOption.code}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.resourceQty.longGroup" for="field_longGroup">Long Group</label>
                    <select class="form-control" id="field_longGroup" name="longGroup" [(ngModel)]="resourceQty.longGroupId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="longGroupOption.id" *ngFor="let longGroupOption of longgroups; trackBy: trackLongGroupById">{{longGroupOption.code}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.resourceQty.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="resourceQty.quantity" required/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
