/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    background: #e4e5e6;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green !important;
}

.ng-invalid:not(form) {
    border-left: 5px solid red !important;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}
.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
/* schemas */
.schema1 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../content/images/sch1-30.png') no-repeat center top;
    background-size: contain;
}
.schema2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../content/images/sch2-30.png') no-repeat center top;
    /*background-size: contain;*/
}
.schema3 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../content/images/sch3-30.png') no-repeat center top;
    background-size: contain;
}

.schema1x2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url('../../content/images/sch1-60.png') no-repeat center top;
    background-size: contain;
}
.schema2x2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url('../../content/images/sch2-60.png') no-repeat center top;
    background-size: contain;
}
.schema3x2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url('../../content/images/sch3-60.png') no-repeat center top;
    background-size: contain;
}

/* section */
.section1 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../content/images/ub1.jpg') no-repeat center top;
    /*background-size: contain;*/
}
.section2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../content/images/ub2.jpg') no-repeat center top;
    /*background-size: contain;*/
}
.section3 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../content/images/ub3.jpg') no-repeat center top;
    /*background-size: contain;*/
}
.section1x2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url('../../content/images/ub1.jpg') no-repeat center top;
    /*background-size: contain;*/
}
.section2x2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url('../../content/images/ub2.jpg') no-repeat center top;
    /*background-size: contain;*/
}
.section3x2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url('../../content/images/ub3.jpg') no-repeat center top;
    /*background-size: contain;*/
}

/* Background color definition */
.bg-alert {
    background-color: rgba(220, 53, 69, 0.8) !important;
}

.bg-orange {
    background-color: #f39c12 !important;
}
.bg-yellow {
    background-color: #a6af18 !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-blue {
    background-color: #00c0ef !important;
}

/* Semantic UI */
.ui.selection:not(.inline-search) {
    height: 35px !important;
    min-height: 35px !important;
    line-height: 10px !important;
}

.border-left-none {
    border-radius: 0 4px 4px 0 !important;
}

/* modal animation
.modal-content{
  animation-name: example;
  animation-duration: 0.2s;
}

@keyframes example {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}
*/

.ui.toggle.checkbox > label:after {
    border: 1px solid #cccccc !important;
}

.ui.toggle.checkbox input:checked ~ label:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: rgba(0, 166, 90, 0.5) !important;
}
