<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-diameter-group-heading" jhiTranslate="appLabApp.diameterGroup.home.createOrEditLabel">Create or edit a Diameter Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-control-label" jhiTranslate="appLabApp.diameterGroup.code" for="field_code">Code</label>
                        <input type="text" class="form-control" name="code" id="field_code"
                            [(ngModel)]="diameterGroup.code" required/>
                        <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-control-label" jhiTranslate="appLabApp.diameterGroup.minValue" for="field_minValue">Min Value</label>
                        <input type="number" class="form-control" name="minValue" id="field_minValue"
                            [(ngModel)]="diameterGroup.minValue" required/>
                        <div [hidden]="!(editForm.controls.minValue?.dirty && editForm.controls.minValue?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.minValue?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.minValue?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-control-label" jhiTranslate="appLabApp.diameterGroup.maxValue" for="field_maxValue">Max Value</label>
                        <input type="number" class="form-control" name="maxValue" id="field_maxValue"
                            [(ngModel)]="diameterGroup.maxValue" required/>
                        <div [hidden]="!(editForm.controls.maxValue?.dirty && editForm.controls.maxValue?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.maxValue?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.maxValue?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-control-label" jhiTranslate="appLabApp.diameterGroup.valType" for="field_valType">Val Type</label>
                        <select class="form-control" name="valType" [(ngModel)]="diameterGroup.valType" id="field_valType"  required>
                            <option value="CM">{{'appLabApp.Unit.CM' | translate}}</option>
                            <option value="MM">{{'appLabApp.Unit.MM' | translate}}</option>
                            <option value="M">{{'appLabApp.Unit.M' | translate}}</option>
                            <option value="PIE">{{'appLabApp.Unit.PIE' | translate}}</option>
                            <option value="PULGADA">{{'appLabApp.Unit.PULGADA' | translate}}</option>
                        </select>
                        <div [hidden]="!(editForm.controls.valType?.dirty && editForm.controls.valType?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.valType?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.diameterGroup.schema" for="field_schema">Schema</label>
                    <label class="form-control">
                        <label class="radio-inline"><input type="radio" name="schema" value="1" id="field_schema1" [(ngModel)]="diameterGroup.schema"><span class="schema1x2 rounded"></span></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="radio-inline"><input type="radio" name="schema" value="2" id="field_schema2" [(ngModel)]="diameterGroup.schema"><span class="schema2x2 rounded"></span></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="radio-inline"><input type="radio" name="schema" value="3" id="field_schema3" [(ngModel)]="diameterGroup.schema"><span class="schema3x2 rounded"></span></label>
                    </label>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.diameterGroup.tablesCentral" for="field_tablesCentral">Tables Central</label>
                        <input type="number" class="form-control" name="tablesCentral" id="field_tablesCentral"
                            [(ngModel)]="diameterGroup.tablesCentral" required/>
                        <div [hidden]="!(editForm.controls.tablesCentral?.dirty && editForm.controls.tablesCentral?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tablesCentral?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.tablesCentral?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.diameterGroup.tablesSide" for="field_tablesSide">Tables Side</label>
                        <input type="number" class="form-control" name="tablesSide" id="field_tablesSide"
                            [(ngModel)]="diameterGroup.tablesSide" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-control-label" jhiTranslate="appLabApp.diameterGroup.tablesTop" for="field_tablesTop">Tables Top</label>
                        <input type="number" class="form-control" name="tablesTop" id="field_tablesTop"
                            [(ngModel)]="diameterGroup.tablesTop" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.diameterGroup.yieldIndex" for="field_yieldIndex">Yield Index</label>
                    <input type="number" class="form-control" name="yieldIndex" id="field_yieldIndex"
                           [(ngModel)]="diameterGroup.yieldIndex" required min="0" jhiMin="0" max="100" jhiMax="100"/>
                    <div [hidden]="!(editForm.controls.yieldIndex?.dirty && editForm.controls.yieldIndex?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.yieldIndex?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.yieldIndex?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.yieldIndex?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.yieldIndex?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
