<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.diameterGroup.home.title">Diameter Groups</span>
        <button *jhiHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diameter-group" [routerLink]="['/diameter-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.diameterGroup.home.createLabel">
            Create new Diameter Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="diameterGroups">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="3"><span jhiTranslate="appLabApp.diameterGroup.tablesMax">tablesMax</span></th>
                <th></th>
                <th></th>
            </tr>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="code"><span jhiTranslate="appLabApp.diameterGroup.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minValue"><span jhiTranslate="appLabApp.diameterGroup.range">Range</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="schema"><span jhiTranslate="appLabApp.diameterGroup.schema">Schema</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tablesCentral"><span jhiTranslate="appLabApp.diameterGroup.tablesCentral">Tables Central</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tablesSide"><span jhiTranslate="appLabApp.diameterGroup.tablesSide">Tables Side</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tablesTop"><span jhiTranslate="appLabApp.diameterGroup.tablesTop">Tables Top</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yieldIndex"><span jhiTranslate="appLabApp.diameterGroup.yieldIndex">Yield Index</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let diameterGroup of diameterGroups ;trackBy: trackId">
                <td><a [routerLink]="['/diameter-group', diameterGroup.id, 'view' ]">{{diameterGroup.code}}</a></td>
                <td>{{diameterGroup.minValue}} - {{diameterGroup.maxValue}} <span jhiTranslate="{{'appLabApp.Unit.' + diameterGroup.valType}}">{{diameterGroup.valType}}</span></td>
                <td><span class="schema{{diameterGroup.schema}}"></span></td>
                <td>{{diameterGroup.tablesCentral}}</td>
                <td>{{diameterGroup.tablesSide}}</td>
                <td>{{diameterGroup.tablesTop}}</td>
                <td>{{diameterGroup.yieldIndex}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/diameter-group', diameterGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'diameter-group/'+ diameterGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
