<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="diameterGroup">
            <h2><span jhiTranslate="appLabApp.diameterGroup.detail.title">Diameter Group</span> {{diameterGroup.code}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.diameterGroup.code">Code</span></dt>
                <dd>
                    <span>{{diameterGroup.code}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.diameterGroup.range">range</span></dt>
                <dd>
                    <span>{{diameterGroup.minValue}} - {{diameterGroup.maxValue}}</span> <span jhiTranslate="{{'appLabApp.Unit.' + diameterGroup.valType}}">{{diameterGroup.valType}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.diameterGroup.schema">Schema</span></dt>
                <dd>
                    <span class="schema{{diameterGroup.schema}}"></span>
                </dd>
                <dt><span jhiTranslate="appLabApp.diameterGroup.tablesMax">tablesMax</span> - <span jhiTranslate="appLabApp.diameterGroup.tablesCentral">Tables Central</span></dt>
                <dd>
                    <span>{{diameterGroup.tablesCentral}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.diameterGroup.tablesMax">tablesMax</span> - <span jhiTranslate="appLabApp.diameterGroup.tablesSide">Tables Side</span></dt>
                <dd>
                    <span>{{diameterGroup.tablesSide}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.diameterGroup.tablesMax">tablesMax</span> - <span jhiTranslate="appLabApp.diameterGroup.tablesTop">Tables Top</span></dt>
                <dd>
                    <span>{{diameterGroup.tablesTop}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.diameterGroup.yieldIndex">Yield Index</span></dt>
                <dd>
                    <span>{{diameterGroup.yieldIndex}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/diameter-group', diameterGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
