<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kerfConfig">
            <h2><span jhiTranslate="appLabApp.kerfConfig.detail.title">Kerf Config</span> {{kerfConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.kerfConfig.param">Param</span></dt>
                <dd>
                    <span>{{kerfConfig.param}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.kerfConfig.value">Value</span></dt>
                <dd>
                    <span>{{kerfConfig.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kerf-config', kerfConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
