<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="finalProduct">
            <h2><span jhiTranslate="appLabApp.finalProduct.detail.title">Final Product</span> {{finalProduct.code}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.finalProduct.code">Code</span></dt>
                <dd>
                    <span>{{finalProduct.code}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.finalProduct.name">Name</span></dt>
                <dd>
                    <span>{{finalProduct.name}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.finalProduct.price">Price</span></dt>
                <dd>
                    <span>{{finalProduct.price}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.finalProduct.minDemand">Min Demand</span></dt>
                <dd>
                    <span>{{finalProduct.minDemand}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.finalProduct.maxDemand">Max Demand</span></dt>
                <dd>
                    <span>{{finalProduct.maxDemand}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/final-product', finalProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
