<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.finalProduct.home.title">Final Products</span>

        <button *jhiHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-final-product"
                [routerLink]="['/final-product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="appLabApp.finalProduct.home.createLabel">
            Create new Final Product
            </span>
        </button>

        <button *jhiHasAnyAuthority="'ROLE_USER'" class="btn btn-primary float-right jh-create-entity create-final-product mr-2"
                [routerLink]="['/', { outlets: { popup: ['final-product-price-increase'] } }]">
            <span class="fa fa-usd"></span>
            <span jhiTranslate="appLabApp.finalProduct.home.priceIncrease">priceIncrease</span>
        </button>
        <button *jhiHasAnyAuthority="'ROLE_USER'" class="btn btn-warning float-right jh-create-entity create-final-product mr-2"
                [routerLink]="['/', { outlets: { popup: ['final-product-price-reset'] } }]">
            <span class="fa fa-recycle"></span>
            <span jhiTranslate="appLabApp.finalProduct.home.priceReset">priceReset</span>
        </button>
        <button *jhiHasAnyAuthority="'ROLE_USER'" class="btn btn-warning float-right jh-create-entity create-final-product mr-2"
                [routerLink]="['/', { outlets: { popup: ['final-product-demand-reset'] } }]">
            <span class="fa fa-recycle"></span>
            <span jhiTranslate="appLabApp.finalProduct.home.demandReset">demandReset</span>
        </button>

    </h2>
    <jhi-alert></jhi-alert>

    <div class="ui right action left icon input mb-4 mr-4 mt-4">
        <i class="search icon"></i>
        <input type="text" [placeholder]="search.inputPlaceholder" [(ngModel)]="search.keyword">
        <sui-select class="selection inline-search"
                    [(ngModel)]="search.field"
                    [options]="search.fields"
                    [isSearchable]="true"
                    [placeholder]="search.selectPlaceholder"
                    labelField="label"
                    valueField="value"
                    #searchBar>
            <sui-select-option *ngFor="let option of searchBar.filteredOptions" [value]="option">
            </sui-select-option>
        </sui-select>
        <button class="btn create-final-product border-left-none pl-4 pr-4" (click)="reset()">
            <span jhiTranslate="global.search">search</span>
        </button>
    </div>
    <h5 class="d-inline">
        <span class="badge badge-info p-2" jhiTranslate="global.results"
              translateValues="{totalItems: '{{totalItems}}'}">
        </span>
    </h5>

    <div class="table-responsive" *ngIf="finalProducts.length">
        <table class="table table-striped">
            <thead>
            <tr align="center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="code"><span jhiTranslate="appLabApp.finalProduct.code">Code</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="name"><span jhiTranslate="appLabApp.finalProduct.name">Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="price"><span jhiTranslate="appLabApp.finalProduct.price">Price</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="minDemand"><span jhiTranslate="appLabApp.finalProduct.minDemand">Min Demand</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="maxDemand"><span jhiTranslate="appLabApp.finalProduct.maxDemand">Max Demand</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr align="center" *ngFor="let finalProduct of finalProducts ;trackBy: trackId">
                <td><a [routerLink]="['/final-product', finalProduct.id, 'view' ]">{{finalProduct.code}}</a></td>
                <td>{{finalProduct.name}}</td>
                <td>{{finalProduct.price}}</td>
                <td>{{finalProduct.minDemand}}</td>
                <td>{{finalProduct.maxDemand}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/final-product', finalProduct.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'final-product/'+ finalProduct.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
