<form name="editForm" role="form" novalidate (ngSubmit)="priceIncrease()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar el incremento porcentual de los precios de productos finales</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Todos los precios se incrementarán en el porcentaje ingresado. Est&aacute; seguro?</p>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appLabApp.finalProduct.percentage" for="field_pricePercentage">percentage</label>
            <input type="number" class="form-control" name="pricePercentage" [(ngModel)]="pricePercentage" id="field_pricePercentage" required />
            <div [hidden]="!(editForm.controls.pricePercentage?.dirty && editForm.controls.pricePercentage?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.pricePercentage?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-gear"></span>&nbsp;<span>Confirmar</span>
        </button>
    </div>
</form>
