<form name="sampleForm" (ngSubmit)="priceReset()">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar el reseteo de los precios de productos finales</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Todos los precios volver&aacute;n a cero. Est&aacute; seguro?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-gear"></span>&nbsp;<span>Ejecutar</span>
        </button>
    </div>
</form>
