<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="configProccessTime">
            <h2><span jhiTranslate="appLabApp.configProccessTime.detail.title">Config Proccess Time</span> {{configProccessTime.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.configProccessTime.diameterGroup">Diameter Group</span></dt>
                <dd>
                    <div *ngIf="configProccessTime.diameterGroupId">
                        <a [routerLink]="['/diameter-group', configProccessTime.diameterGroupId, 'view']">{{configProccessTime.diameterGroupId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.configProccessTime.longGroup">Long Group</span></dt>
                <dd>
                    <div *ngIf="configProccessTime.longGroupId">
                        <a [routerLink]="['/long-group', configProccessTime.longGroupId, 'view']">{{configProccessTime.longGroupId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.configProccessTime.value">Value</span></dt>
                <dd>
                    <span>{{configProccessTime.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/config-proccess-time', configProccessTime.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
