<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.configProccessTime.home.title">Config Proccess Times</span>
        <button *jhiHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-config-proccess-time" [routerLink]="['/config-proccess-time/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.configProccessTime.home.createLabel">
            Create new Config Proccess Time
            </span>
        </button>
    </h2>
    <p><span jhiTranslate="appLabApp.configProccessTime.home.subtitle">subtitle</span></p>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="configProccessTimes">
        <table class="table table-striped">
            <thead>
            <tr align="center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="diameterGroupId"><span jhiTranslate="appLabApp.configProccessTime.diameterGroup">Diameter Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longGroupId"><span jhiTranslate="appLabApp.configProccessTime.longGroup">Long Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="appLabApp.configProccessTime.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr td align="center"  *ngFor="let configProccessTime of configProccessTimes ;trackBy: trackId">
                <td >
                    <div *ngIf="configProccessTime.diameterGroupId">
                        <a [routerLink]="['../diameter-group', configProccessTime.diameterGroupId , 'view' ]" >{{configProccessTime.diameterGroupCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="configProccessTime.longGroupId">
                        <a [routerLink]="['../long-group', configProccessTime.longGroupId , 'view' ]" >{{configProccessTime.longGroupCode}}</a>
                    </div>
                </td>
                <td >{{configProccessTime.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/config-proccess-time', configProccessTime.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'config-proccess-time/'+ configProccessTime.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
