<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.productRelations.home.title">Product Relations</span>
        <button *jhiHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-relations"
                [routerLink]="['/product-relations/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="appLabApp.productRelations.home.createLabel">
            Create new Product Relations
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>

    <div class="ui right action left icon input mb-4 mr-4 mt-4">
        <i class="search icon"></i>
        <input type="text" [placeholder]="search.inputPlaceholder" [(ngModel)]="search.keyword">
        <sui-select class="selection inline-search"
                    [(ngModel)]="search.field"
                    [options]="search.fields"
                    [isSearchable]="true"
                    [placeholder]="search.selectPlaceholder"
                    labelField="label"
                    valueField="value"
                    #searchBar>
            <sui-select-option *ngFor="let option of searchBar.filteredOptions" [value]="option">
            </sui-select-option>
        </sui-select>
        <button class="btn create-final-product border-left-none pl-4 pr-4" (click)="reset()">
            <span jhiTranslate="global.search">search</span>
        </button>
    </div>
    <h5 class="d-inline">
        <span class="badge badge-info p-2" jhiTranslate="global.results"
              translateValues="{totalItems: '{{totalItems}}'}">
        </span>
    </h5>

    <div class="table-responsive" *ngIf="productRelations.length">
        <table class="table table-striped">
            <thead>
            <tr align="center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="interProductId"><span jhiTranslate="appLabApp.productRelations.interProduct">Inter Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longGroupId"><span jhiTranslate="appLabApp.productRelations.longGroup">Long Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finalProduct1Id"><span jhiTranslate="appLabApp.productRelations.finalProduct1">Final Product 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finalProduct2Id"><span jhiTranslate="appLabApp.productRelations.finalProduct2">Final Product 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finalProduct3Id"><span jhiTranslate="appLabApp.productRelations.finalProduct3">Final Product 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let productRelations of productRelations; trackBy: trackId">
                <td align="center">
                    <div *ngIf="productRelations.interProductId">
                        <a [routerLink]="['../inter-product', productRelations.interProductId , 'view' ]">{{productRelations.interProductCode}}</a>
                    </div>
                </td>
                <td align="center">
                    <div *ngIf="productRelations.longGroupId">
                        <a [routerLink]="['../long-group', productRelations.longGroupId , 'view' ]">{{productRelations.longGroupCode}}</a>
                    </div>
                </td>
                <td align="center">
                    <div *ngIf="productRelations.finalProduct1Id">
                        <a [routerLink]="['../final-product', productRelations.finalProduct1Id , 'view' ]">{{productRelations.finalProduct1Code}}</a>
                        ({{productRelations.quantity1}})
                    </div>
                </td>
                <td align="center">
                    <div *ngIf="productRelations.finalProduct2Id">
                        <a [routerLink]="['../final-product', productRelations.finalProduct2Id , 'view' ]">{{productRelations.finalProduct2Code}}</a>
                        ({{productRelations.quantity2}})
                    </div>
                </td>
                <td align="center">
                    <div *ngIf="productRelations.finalProduct3Id">
                        <a [routerLink]="['../final-product', productRelations.finalProduct3Id , 'view' ]">{{productRelations.finalProduct3Code}}</a>
                        ({{productRelations.quantity3}})
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/product-relations', productRelations.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-relations/'+ productRelations.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
