<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-relations-heading" jhiTranslate="appLabApp.productRelations.home.createOrEditLabel">
                Create or edit a Product Relations</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="form-control-label" jhiTranslate="appLabApp.productRelations.interProduct"
                               for="field_interProduct">Inter Product</label>

                        <sui-select class="selection form-control w-100"
                                    id="field_interProduct"
                                    name="interProduct"
                                    [(ngModel)]="productRelations.interProductId"
                                    [options]="interproducts"
                                    [isSearchable]="true"
                                    placeholder=" "
                                    labelField="code"
                                    valueField="id"
                                    required
                                    #field_interProduct>
                            <sui-select-option *ngFor="let option of field_interProduct.filteredOptions"
                                               [value]="option">
                            </sui-select-option>
                        </sui-select>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-control-label" jhiTranslate="appLabApp.productRelations.longGroup"
                               for="field_longGroup">Long Group</label>

                        <sui-select class="selection form-control w-100"
                                    id="field_longGroup"
                                    name="longGroup"
                                    [(ngModel)]="productRelations.longGroupId"
                                    [options]="longgroups"
                                    [isSearchable]="true"
                                    placeholder=" "
                                    labelField="code"
                                    valueField="id"
                                    required
                                    #field_longGroup>
                            <sui-select-option *ngFor="let option of field_longGroup.filteredOptions"
                                               [value]="option">
                            </sui-select-option>
                        </sui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="form-control-label" jhiTranslate="appLabApp.productRelations.finalProduct1"
                               for="field_finalProduct1">Final Product 1</label>

                        <sui-select class="selection form-control w-100"
                                    id="field_finalProduct1"
                                    name="finalProduct1"
                                    [(ngModel)]="productRelations.finalProduct1Id"
                                    [options]="finalproducts"
                                    [isSearchable]="true"
                                    placeholder=" "
                                    labelField="code"
                                    valueField="id"
                                    required
                                    #field_finalProduct1>
                            <sui-select-option *ngFor="let option of field_finalProduct1.filteredOptions"
                                               [value]="option">
                            </sui-select-option>
                        </sui-select>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-control-label" jhiTranslate="appLabApp.productRelations.quantity1"
                               for="field_quantity1">Quantity 1</label>
                        <input type="number" class="form-control" name="quantity1" id="field_quantity1"
                               [(ngModel)]="productRelations.quantity1" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="form-control-label" jhiTranslate="appLabApp.productRelations.finalProduct2"
                               for="field_finalProduct2">Final Product 2</label>

                        <sui-select class="selection form-control w-100"
                                    id="field_finalProduct2"
                                    name="finalProduct2"
                                    [(ngModel)]="productRelations.finalProduct2Id"
                                    [options]="finalproducts"
                                    [isSearchable]="true"
                                    placeholder=" "
                                    labelField="code"
                                    valueField="id"
                                    #field_finalProduct2>
                            <sui-select-option *ngFor="let option of field_finalProduct2.filteredOptions"
                                               [value]="option">
                            </sui-select-option>
                        </sui-select>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-control-label" jhiTranslate="appLabApp.productRelations.quantity2"
                               for="field_quantity2">Quantity 2</label>
                        <input type="number" class="form-control" name="quantity2" id="field_quantity2"
                               [(ngModel)]="productRelations.quantity2"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="form-control-label" jhiTranslate="appLabApp.productRelations.finalProduct3"
                               for="field_finalProduct3">Final Product 3</label>
                        <sui-select class="selection form-control w-100"
                                    id="field_finalProduct3"
                                    name="finalProduct3"
                                    [(ngModel)]="productRelations.finalProduct3Id"
                                    [options]="finalproducts"
                                    [isSearchable]="true"
                                    placeholder=" "
                                    labelField="code"
                                    valueField="id"
                                    #field_finalProduct3>
                            <sui-select-option *ngFor="let option of field_finalProduct3.filteredOptions"
                                               [value]="option">
                            </sui-select-option>
                        </sui-select>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-control-label" jhiTranslate="appLabApp.productRelations.quantity3"
                               for="field_quantity3">Quantity 3</label>
                        <input type="number" class="form-control" name="quantity3" id="field_quantity3"
                               [(ngModel)]="productRelations.quantity3"/>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
