<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productRelations">
            <h2><span jhiTranslate="appLabApp.productRelations.detail.title">Product Relations</span> {{productRelations.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.productRelations.quantity1">Quantity 1</span></dt>
                <dd>
                    <span>{{productRelations.quantity1}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.productRelations.quantity2">Quantity 2</span></dt>
                <dd>
                    <span>{{productRelations.quantity2}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.productRelations.quantity3">Quantity 3</span></dt>
                <dd>
                    <span>{{productRelations.quantity3}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.productRelations.finalProduct1">Final Product 1</span></dt>
                <dd>
                    <div *ngIf="productRelations.finalProduct1Id">
                        <a [routerLink]="['/final-product', productRelations.finalProduct1Id, 'view']">{{productRelations.finalProduct1Id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.productRelations.finalProduct2">Final Product 2</span></dt>
                <dd>
                    <div *ngIf="productRelations.finalProduct2Id">
                        <a [routerLink]="['/final-product', productRelations.finalProduct2Id, 'view']">{{productRelations.finalProduct2Id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.productRelations.finalProduct3">Final Product 3</span></dt>
                <dd>
                    <div *ngIf="productRelations.finalProduct3Id">
                        <a [routerLink]="['/final-product', productRelations.finalProduct3Id, 'view']">{{productRelations.finalProduct3Id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.productRelations.interProduct">Inter Product</span></dt>
                <dd>
                    <div *ngIf="productRelations.interProductId">
                        <a [routerLink]="['/inter-product', productRelations.interProductId, 'view']">{{productRelations.interProductId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.productRelations.longGroup">Long Group</span></dt>
                <dd>
                    <div *ngIf="productRelations.longGroupId">
                        <a [routerLink]="['/long-group', productRelations.longGroupId, 'view']">{{productRelations.longGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-relations', productRelations.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
